[2017-04-03 17:18] austinMarcos opened #1 "{Template: Example Issue} Lab 00-prep-nn-sample-id contains typos"
Dear submitter, please provide:

**ISSUE TITLE:  provide the Lab-ID and short description of what's wrong**

- For example:

  _Lab_ 00-prep-nn-sample-id contains _typos_

To find the Lab-ID, look at the URL of the lab. The lab-id appears to the left of the step number:
  - https://learninglabs.cisco.com/tracks/devnet-express-dna /intro-python-programming-devnet-express **/00-prep-03-python-primer

[2017-04-03 21:14] armartirosyan opened #2 "Verification Script Enhancement: Lab 03 Module 03 script enhancement request"
ISSUE DESCRIPTION:

The `check_dcloud.py` script needs another method to verify that APIC-EM is active and is working properly.

[2017-04-04 05:18] bobg2015 opened #3 "code bug"
Hi,

There is a small typo at the following page for 'get_device_id' function definition with the headers assignment line.

[https://learninglabs.cisco.com/tracks/devnet-express-dna/devnet-express-np-rest-apic/05-apic-03-apic-em-rest-api-python-app/step/4](url)

`def get_device_id(token, url):

  #Define API Call
  api_call = "/network-device"

  #Header information
  headers = {X-AUTH-TOKEN" : to

[2017-04-04 16:13] austinMarcos opened #4 "Module LM-4002 - separate Windows/Linux/Mac instructions into separate labs"

[2017-04-04 17:17] securenetwrk opened #5 "Wrong twitter handle on slides"
The content all has an image telling us to tweet at @DevNet, but it should be @CiscoDevNet.

[2017-04-04 17:18] securenetwrk commented on #4
I completely agree. It would be great if there were a way to choose a radio button, and only the relevant content shows for each step. That way the common content can be displayed for all, and variables like commands can just be filled in based on the selected radio button.

[2017-04-07 14:52] brtiller1 commented on #3
Fixed and committed to Repo.

[2017-04-07 14:52] #3 closed

[2017-04-07 19:19] securenetwrk opened #6 "LM-4602 - discrepancy in mission counter types"
In 01_get_interface_stats_SOLUTION.py it calls out the following:

    message += "    * Packets In: %s \n" % (interface["statistics"]["in-pkts"]["#text"])
    message += "    * Packets Out: %s \n" % (interface["statistics"]["out-pkts"]["#text"])

However, running "pyang -f tree ietf-interfaces.yang" returns the following which doesn't list "in-pckts" as an option:
[code]

The solution works, so m

[2017-04-07 19:23] securenetwrk opened #7 "dcloud workstation - file permissions"
On the dcloud linux workstations, users encountered a number of file permissions issues on the pre-downloaded github files. Random files were owned by root and lacked rw permissions. We should either instruct users to "sudo chmod -R 777 ." the entire folder or try to fix the upstream image to have consistent permissions. Or, have users clone the repo themselves.

[2017-04-10 15:44] austinMarcos opened #8 "LM-4201: Demo for DNA Explained - Add a container environment"
Enhancement:  put the scripts for the demo in a Docker container so that it is easier to launch and more predictable in different hosting environments.

- will require docker to be installed on the event hosts' local machine
- will help to reduce need to install all the libraries needed to run the demo
- needs to be able to run concurrent sessions (for when there are multiple events at the same ti

[2017-04-10 15:46] austinMarcos opened #9 "LM-4201: Demo for DNA Explained - Add APIC-EM aspect"
Modify the story that the demo tells by adding a mockup of a topology that is produced by VIRL, sent as a file through Spark, and deployed with APIC-EM.

[2017-04-10 15:48] austinMarcos opened #10 "LM-4201: Demo for DNA Explained - add instructions"
Add instructions to the story to specify what the event host should be showing on their screen (Spark message, etc.).

[2017-04-10 16:34] austinMarcos opened #11 "LM-4201: Update slides"
USER STORY:  As a host, I need a better storyline about why this event is useful in understanding the DNA tools and technology.

Need to explain the reason that network and infrastructure engineers need to understand the role of APIs from the point of view of an app developer putting pressure on the infrastructure to support mobile devices.

These updates to the slides DO NOT affect the demo or ex

[2017-04-11 05:55] securenetwrk opened #12 "Linkage from powerpoints to labs is weak"
After our event last week we had pretty consistent feedback that the Power Points and labs online were not as closely aligned as would be ideal, and it led to a lot of confusion. In many cases there were some overlapping topics and images, but others were in one or the other. When moving from the slides to a lab, it wasn't clear what lab to move to. The Nomenclature in the slides refers to "Lab X

[2017-04-11 21:04] brtiller1 commented on #12
Thanks for your feedback.  We had recently recoded/modified modules and still needed to update the corresponding slide decks which is now done.  We don’t provide direct links in the slide decks to the labs as it’s better and clearer for the trainer to show how to access the labs and the steps therein.  Please take a look at the latest slide decks and let us know your thoughts.

Brett
[http://www.c

[2017-04-11 22:40] austinMarcos opened #13 "LM-XXXX needs work right now"

[2017-04-11 22:44] austinMarcos opened #14 "Module- Python module being done"
mock of work around re-defining a module

[2017-04-12 21:37] securenetwrk opened #15 "Resolving APIC-EM crashes"
Several pods typically have APIC-EM crash during the event. To fix it, you can VPN in to the pod, SSH to 198.18.129.100, log in as user grapevine, password C1sco12345, and run reset_grapevine. Be sure to answer NO to all questions and after an hour or two it should be back online. I did not log the exact time to run it.

[2017-04-14 16:52] austinMarcos commented on #15
Yawming will investigate with Eddie.

[2017-04-14 16:53] austinMarcos commented on #14
dummy issue

[2017-04-14 16:53] #14 closed

[2017-04-14 16:54] austinMarcos commented on #13
dummy issue

[2017-04-14 16:54] #13 closed

[2017-04-14 16:55] austinMarcos opened #16 "LM-4901 CMX Mission cannot be finished"
User Story:  As a host of DevNet events, I need a CMX mission that can be performed by multiple users at the same time. LM-4901: Using the Cisco Location Based Services

-  The new mission needs to show a use-case that is not limited by the constraint on multiple concurrent users.  The way the current mission is written, multiple uses cannot access the CMX notification port simultaneously because

[2017-04-18 14:36] cmlccie opened #17 "LM-4602: Device Level Interfaces - pyang doesn't work on Windows when using Command Prompt"
**Lab-ID:**  dna-restconf-netconf-yang

Starting in the `Introduction to YANG Data Modeling`, and throughout the module we ask participants to use the [pyang](https://github.com/mbj4668/pyang) module to examine and interact with downloaded YANG data models; however, the instructions will not work for users using Windows and the Windows Command Line.

See https://github.com/mbj4668/pyang/issues/310

[2017-04-18 14:43] cmlccie opened #18 "Submitters cannot add labels to issues"
Just letting you know... 😄

[2017-04-18 16:41] austinMarcos commented on #10
Armen has re-written the lab instructions to clarify how to launch the script that hosts will use in an event.

[2017-04-18 16:47] austinMarcos commented on #11
On April 10, Chris L., Chris O., Brett, Armen, and Darien reviewed the slides that Chris O has updated. All agreed on changes except for one slide. Chris O. will amend, and then we will review and approve for distribution.

[2017-04-18 16:59] austinMarcos commented on #16
Matt:  Can you please update the status on this (as you did in email).

[2017-04-18 17:27] cmlccie opened #19 "Participant Development Environment - Inconsistency in Directory Structure"
**Lab-ID:**  Various

When participants are learning to code (and even if you already know how), it is important that we be crystal clear on 'where you should be' and what files you should working on/with.  We have multiple places throughout the labs where we provide path instructions, and they aren't all consistent (a few specific screen shots are included below).  Additionally some of our file a

[2017-04-18 17:35] cmlccie opened #20 "Test Connectivity to the Lab Environment (dCloud Pod)"
**Lab-Id:**  00-pre-event-preparation
Test Connectivity to the Lab Environment (dCloud Pod) step has the participants connect to some other AnyConnect site rather than their assigned lab pod.  This causes participant confusion and adds unnecessary extra steps.

Some will follow the instructions and connect to this 'test VPN' connection and then wonder later why they cannot access their pod resourc

[2017-04-18 17:42] cmlccie opened #21 "Users are instructed to download the Git repo multiple times"
**Lab-Ids:**

- 00-pre-event-preparation
- devnet-express-np-rest-apic
- others?...

We provide instructions to download the devnet-code-samples repo more than once throughout the track, and when coupled with #19 this causes some participants to rightfully do so and end up with multiple copies of the code on their machines, which causes UX issues like people editing code in one folder and then try

[2017-04-18 17:48] cmlccie opened #22 "LM-4002 or LM-1201: Should provide instructions on how to activate and deactivate a virtual environment"
We should provide instructions on how to activate and deactivate a virtual environment.  Without this, participants are often receiving 'import errors' because their packages were installed in their virtual environment, which they haven't activated when trying to run their scripts later on in the event.

If combined with a standardized folder structure (see #19), the instructions can be very simpl

[2017-04-18 17:53] matthewjfarrell commented on #16
Lab 09-cmx-04-cmx-and-mse-mission-01 under DevNet Express has been updated with coding examples to use CMX API in Python.  CMX Mission title changed to "Mission: Query the CMX API using Python scripts" and Python 3 code examples are located at /github/devnet-express-code-samples/module09.
IMPORTANT NOTE:  CMX 10 URL is changed to https://cmxlocationsandbox.cisco.com/api for access to the CMX API r

[2017-04-18 18:21] cmlccie opened #23 "Participant Development Environment - Use of Git (LM-4002 and LM-1201)"
**Lab-Id:**  intro-python-programming-devnet-express

# Current use of Git in DNA Track:

- Presently we instruct participants to download the `devnet-express-code-samples` repo into a directory using the `git clone` command, and we tell them to use the `git pull` command to update.
- We provide instruction on using Git **after** they will have already used it (used in LM-4002 and instruction prov

[2017-04-18 18:30] cmlccie opened #24 "Store lab environment information in the environment"
We repeatedly do some of the same information retrieval exercises over and over:

- Copy and paste your Spark Access Token into your script (bad practice - storing credentials in code)
- Get the Room ID of the Spark Room to which you want your script to post
- Get the IP address / hostname of XYZ host...
- Get the Username and Password for XYZ host...

All of this information could be collected an

[2017-04-18 18:36] brtiller1 commented on #24
Since several scripts I’ve written ask users to post their token into the code, I’ll respond by saying that we clearly know this is a bad practice and we tell users that from the beginning with the slide that says this is just sample code and real code should be written differently and with much more error checking, but for learning purposes we are keeping everything simple and clear.

That said,

[2017-04-18 18:48] brtiller1 commented on #23
Bear in mind that our new path is to try to make these labs more generic so they can be used outside of DNE which is one reason for the repeated steps for downloading code as we don’t know from which lab users outside of DNE events will start and we want to avoid pushing them to other labs if a simple explanation can be given such as ‘clone this code here’s the command’ which is the typical case.

[2017-04-18 18:52] dstaudt commented on #24
DNE/CC has only had the one live event, but it was definitely harder for
folks to grasp the environment variable script concept, and users ran
into problems, especially cross-platform.  We actually decided to switch
to the in-script method for simplicity's sake.

Not particularly saying this is how we should proceed globally, just an
observation.  There are all kinds of other best-practices we are

[2017-04-18 18:53] dstaudt commented on #23
Concur...labs should be reasonably self-contained - while balancing the
need to avoid egregious repetition and redundancy to the extent possible
(per  Chris' remarks.)

Regards,
- David Staudt

On 04/18/2017 01:48 PM, brtiller1 wrote:

[2017-04-18 19:32] cmlccie opened #25 "devnet-express-code-samples - Consistency and Code Quality"
As we are teaching / helping participants get started with coding, we should strive to set the example for code quality and readability in our provided sample code that participants are reading and working with.  Doing so:

+ Helps gets participants off to a good start with good coding habits
+ Demonstrates our knowledge and expertise, and establishes Cisco as a capable thought-leader in the area

[2017-04-18 19:47] brtiller1 commented on #25
Chris I like your motivated spirit.  I agree on the part of indentation consistency (tabs versus spaces) which can be easily improved in our scripts, and we can be more consistent with spacing and such.  That said, we are not teaching a college level semester long course.  Our goal during a one day training event, 60-90 minutes per session, is to expose attendees to programming concepts to get the

[2017-04-18 20:02] cmlccie opened #26 "LM-4002: Event Preparation - Improve Clarity through Segmentation"
We acknowledge five (5) different scenarios in which participants may be approaching this learning track using at least three (3) different platforms (Linux, Mac and Windows).  With fifteen (15) possible environments, clearly communicating what needs to be done, when and how is essential to participant success.

For the setup module, I believe segmentation of these scenarios and platforms would he

[2017-04-18 20:15] cmlccie commented on #25
I'm not suggesting that we add in teaching these conventions, but rather that our code should teach by example.

Regarding error checking...  Which would you find easier to debug:
_<run this and check out the difference; commenting out the first json_dict line>_

[code]

[2017-04-18 20:22] dstaudt commented on #25
+1 on style/consistency in a 'by example' way

+1 for minimal (though perhaps not always optimal) error checking to
catch basic/common issues

Regards,
- David Staudt

On 04/18/2017 03:15 PM, Chris Lunsford wrote:

[2017-04-18 21:10] brtiller1 commented on #25
Chris, your ideas are on point, but too advanced for newbies/near newbie developers, and I think would lead to confusion.  For example, the code response.raise_for_status() throws an exception which means that we would need to teach exception handling, try/catch/finally blocks and so forth to adequately cover that concept.  I don’t support teaching that to newbies/near newbies because for every tw

[2017-04-18 21:12] brtiller1 commented on #25
Err…I meant try/except/finally blocks – reliving my old java programming days. ☺

[http://www.cisco.com/web/europe/images/email/signature/logo05.jpg]

Brett Tiller
ENGINEER.CUSTOM APPLICATION
brtiller@cisco.com
Phone: +1 919 392 3307
DevNet
http://developer.cisco.com

Cisco Systems Limited
7025-6 Kit Creek Road PO Box 14987
RESEARCH TRIANGLE PARK
NORTH CAROLINA
27709-4987
US

From: Brett Tiller (b

[2017-04-18 21:18] aradford123 commented on #25
I agree with Brett.

The basic labs are so simple that they should just work.

I think part of the learning/skill development process is to appreciate error checking as well.

KISS

From: brtiller1 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: CiscoDevNet/devnet-express-dna-issues <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, 19 April 2017 at 7:10

[2017-04-18 22:41] cmlccie commented on #25
I don't think you guys get it...

They are running into errors today.  Less descriptive and less useful errors.  I'm not saying to catch them or teach them how to catch them.  I was asking that we provide minimal response code checking so that, when something is wrong - yes an error is raised, but it is a more descriptive and easier to troubleshoot error than what they are getting today.

It takes

[2017-04-19 14:00] cmlccie commented on #4
It appears that I created a duplicate issue... 🤕  Adding my input here.

We acknowledge five (5) different scenarios in which participants may be approaching this learning track using at least three (3) different platforms (Linux, Mac and Windows).  With fifteen (15) possible environments, clearly communicating what needs to be done, when and how is essential to participant success.

For the setup

[2017-04-19 14:00] cmlccie commented on #22
I inadvertently created a duplicate to issue #4 .

[2017-04-19 14:46] brtiller1 commented on #25
Chris,

When I taught the Python/APIC-EM DNE sessions the only issues I’ve seen were the occasional spaces versus tabs issue, and a pod might be unresponsive in which case we issued the user a new one.  If you’re seeing new common issues we should determine why they are occurring first.

Second, understand that most people are not as sharp as you are and don’t pick up things as quickly.  Providing

[2017-04-19 19:05] aradford123 commented on #25
Agree.

For slow learners like me, the best way to learn is through my mistakes in a simple environment.

I actually don't learn much from being spoon fed.

From: brtiller1 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: CiscoDevNet/devnet-express-dna-issues <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, 20 April 2017 at 12:46 am
To: CiscoDevNet/devne

[2017-04-20 01:12] cmlccie commented on #25
Thanks guys.  I appreciate your perspective.  I'm really not talking about spoon feeding anyone; I too learn more when things break than when everything goes to plan.  However, if I'm going to intentionally put 'learning moments' in my learning material, I want it to be intentional and not accidental because I could have coded it better.  My request for minimal error checking was an attempt to giv

[2017-04-20 15:17] austinMarcos commented on #16
From: Yawming Chen (yawchen)
Sent: Tuesday, April 18, 2017 4:09 PM

I am not really starting walk through the lab yet but just trying to run couple of sample codes in the mission - https://learninglabs.cisco.com:8867/tracks/devnet-express-dna/cmx/09-cmx-04-cmx-and-mse-mission-01/step/1
sampleRESTcode.py
clientcount.py

I think we may want to modify those codes.

sampleRESTcode.py - This sample cod

[2017-04-20 15:19] austinMarcos commented on #16
From: Matthew Farrell
Sent: Tuesday, April 18, 2017 4:21 PM

Yawming,

If you’re on a mac you will need the latest version of openssl module.
msesandbox.cisco.com:8081
This server supports only TLS 1.2, i.e. no TLS 1.0 or worse.
'OpenSSL 0.9.8zg 14 July 2015'
This OpenSSL version does not support TLS 1.2 yet. You need at least OpenSSL 1.0.1 for this.

$openssl version
$brew update
$brew install --

[2017-04-20 15:21] austinMarcos commented on #16
From: Yawming Chen (yawchen)
Sent: Tuesday, April 18, 2017 4:43 PM

Python 3.6 has OpenSSL 1.0.2 works fine too.

Is “clientcount.py” used in subsequent labs for modification? Why we use loop here?

Thanks,

Yawming

[2017-04-20 15:23] austinMarcos commented on #16
From: Matthew Farrell -X
Sent: Tuesday, April 18, 2017 5:01 PM

Yes, we demo the loop function here which will be used in additional exercises with mac addresses.  Matt
Good to know regarding Python 3.6!
Thanks,
Matt

[2017-04-20 17:51] RuthCattell commented on #16
Can Matt Denapoli look at this too (if he hasn't already done so?)  He's the CMX / Meraki Dev Evanglist and therefore one of the SME owners.

[2017-04-20 19:57] yawming opened #27 "09-cmx-01-introduction-to-cmx 'step 1' comments"
1. "Install the required Python modules in Pre-requisites" section can be shorten since it's covered
https://learninglabs.cisco.com:8867/tracks/devnet-express-dna/00-pre-event-preparation/00-prep-01-prep-before-you-go/step/3

Example from - https://learninglabs.cisco.com:8867/tracks/devnet-express-dna/devnet-express-lab-setup/03-environment-03-mission/step/1

'''
Prerequisites
You must complete th

[2017-04-20 20:05] yawming opened #28 "09-cmx-01-introduction-to-cmx 'step 2' comments"
1. Instruction says: "Modify if necessary (e.g. to your preferred programming.
language) and run it in your **APIC-EM dCloud lab**, or from a terminal window."
Not quite sure about this **APIC-EM dCloud lab**, not clear to me that where to go to.

2. Adding code to exit script if there is an exception

[2017-04-20 20:13] yawming opened #29 "09-cmx-01-introduction-to-cmx 'step 3' comments"
Instruction for this lab:
1. Which Location API will return the mac addresses of all active clients?
2. Create a new script “active_macs” which retrieves the list of active client mac addresses.
3. Copy the python script called active_macs.py from the /module09 folder

Not clear to me that do we want student to create a new script or just exercise the script ?

[2017-04-20 20:15] yawming opened #30 "09-cmx-01-introduction-to-cmx 'step 4' comments"
Same as previous lab, do we want student create a script from scratch ? Or Modify the sample we provide ?

[2017-04-20 20:25] yawming opened #31 "09-cmx-01-introduction-to-cmx 'step 5' comments"
Instructions in this lab:
1. Create a new script “mac_history” that prompts for a mac address and retrieves the historical location data for it.
2. Modify the script to extract the timestamp, coordinates and map hierarchy for each record.
3. Put the results in a Set in chronological order, such that a historical path of the client is created.

Comments:
If we don't provide a script template this l

[2017-04-20 20:35] yawming opened #32 "09-cmx-01-introduction-to-cmx 'step 5' and all mission labs comments"
"Open the supplied code samples (TBD) and look through the various parameters that are used to setup the API call and **how the authentication occurs.**"
I think the goal in this lab is not to learn "how the authentication occurs" since we already asked the same in previous lab.

Over all these missions are not difficult for students to finish if we can provide code samples.
I did finish all exerc

[2017-04-20 20:58] matthewjfarrell commented on #32
Ok, I'll finish the other code samples and update the instructions to point out the various methods used.  Thanks.

[2017-04-20 21:01] matthewjfarrell commented on #27
Just an example using input method for later examples to query for input.  This is the provided Python example from CMX folks https://msesandbox.cisco.com:8081/apidocs/code
Thanks.

[2017-04-20 21:01] #27 closed

[2017-04-20 21:04] yawming commented on #27
Problem is that their code has a problem

From: Matthew Farrell <notifications@github.com>
Reply-To: CiscoDevNet/devnet-express-dna-issues <reply@reply.github.com>
Date: Thursday, April 20, 2017 at 2:01 PM
To: CiscoDevNet/devnet-express-dna-issues <devnet-express-dna-issues@noreply.github.com>
Cc: yawchen <yawchen@cisco.com>, Author <author@noreply.github.com>
Subject: Re: [CiscoDevNet/devnet-expr

[2017-04-20 21:06] matthewjfarrell commented on #28
Modified to:
# Exercise 1: Location API

1. Copy the python script called clientcount.py from the /module09 folder.
2. Run the script using the command $python3 clientcount.py.
3. How many mobile clients are reported?

Open the supplied code samples and look through the various parameters that are used to setup the API call and parsing the response with request.json().

![](/posts/files/09-cmx-04-

[2017-04-20 21:06] #28 closed

[2017-04-20 21:13] matthewjfarrell commented on #29
Modified to:
# Exercise 2: Location API

1. Copy the python script called active_macs.py from the /module09 folder.
2. Run the script using the command $python3 active_macs.py.
3. Which Location API will return the mac addresses of all active clients?

Open the supplied code samples and look through the various parameters that are used to setup the API call and creating python JSON library with js

[2017-04-20 21:13] #29 closed

[2017-04-20 21:26] matthewjfarrell commented on #30
Modified to:
# Optional Exercise 3: Location API

1. Python script "mac_info" prompts for a mac address and retrieves the location data for it.
2. Copy the python script called mac_info.py from the /module09 folder.
3. Run the script using the command $python3 mac_info.py.
4. Modify the script to extract and display: the x, y coordinates, timestamp (lastLocatedTime) and map hierarchy string.

Open

[2017-04-20 21:43] matthewjfarrell commented on #31
Modified to:
# Optional Exercise 4: History API

1. Python script "mac_history" prompts for a mac address and retrieves the historical location data for it.
2. Copy the python script called mac_history.py from the /module09 folder.
3. Run the script using the command $python3 mac_history.py.
4. Modify the script to extract the timestamp, coordinates and map hierarchy for each record.
5. Put the re

[2017-04-21 15:18] austinMarcos commented on #10
Armen - the demo has been transferred to container. More work being done on the instructions for the hosts to use the demo. Other minor issues being worked on include adding code that will cause bot to send message with the bot's email address.

Chris L. is in the loop through Spark room chats.  Armen will have give estimate on Monday for QA to begin. Yawming to start testing week of April 24th.

[2017-04-21 16:54] cmlccie commented on #26
I inadvertently created a duplicate to issue #4 .

[2017-04-21 16:54] #26 closed

[2017-04-21 17:02] cmlccie commented on #5
I created the templates, so this is my fault.  🤕

I'll work with Ruth to get these corrected.

[2017-04-21 17:17] yawming commented on #31
Can you please have more detail about the following ?
"Put the results in a Set in chronological order, such that a historical path of the client is created."
We use "Set" here, do you mean"set" in Python as an **unordered** collections. But here we mention about in **chronological order** too. Do you mean put each record in a "Set" then sort all sets in chronological order ?

[2017-04-21 17:42] matthewjfarrell commented on #31
modified instructions to:
# Exercise 4: History API

1. Python script "mac_history" prompts for a mac address and retrieves the historical location data for it.
2. Copy the python script called mac_history.py from the /module09 folder.
3. Run the script using the command $python3 mac_history.py.
4. Modify the script to extract the timestamp, coordinates and floorId for each record.
5. Put the resu

[2017-04-21 17:46] matthewjfarrell commented on #31
modified instructions (missed last sentence) to:
# Exercise 4: History API

1. Python script "mac_history" prompts for a mac address and retrieves the historical location data for it.
2. Copy the python script called mac_history.py from the /module09 folder.
3. Run the script using the command $python3 mac_history.py.
4. Modify the script to extract the timestamp, coordinates and floorId for each

[2017-04-24 18:08] yawming commented on #30
"4. Modify the script to extract and display: the x, y coordinates, timestamp (lastLocatedTime) and map hierarchy string."

without modifying script we already got these info
x, y coordinates:  222.66513 ,  49.300655
timestamp (lastLocatedTime): 1493057193614
map hierarchy string:  DevNetCampus>DevNetBuilding>DevNetZone>Zone2
----------------------------------------------------------------

[2017-04-24 18:16] matthewjfarrell commented on #30
Please, use the learning lab previewer or look at the .md files in github for the latest updates to the CMX learning labs.  Thanks, Matt

[2017-04-24 20:23] pmorvay opened #33 "LM-4402: REST APIs - Authentication in new Postman GUI"
Hello, I have recently installed Postman and the GUI seems different, I can not see, how to paste/import the token and maybe, because of this I can not set content type

Could you please update part:
LM-4402: REST APIs
  - Overview of REST APIs In Progress
    - Step 4. Use Postman to Call the Spark API

Thanks

[2017-04-24 20:25] brtiller1 commented on #33
Hi Peter,

There should be a scroll bar on the right side of the screen so that you can view and set the headers.  If not, please send a screenshot.

Brett

[http://www.cisco.com/web/europe/images/email/signature/logo05.jpg]

Brett Tiller
ENGINEER.CUSTOM APPLICATION
brtiller@cisco.com
Phone: +1 919 392 3307
DevNet
http://developer.cisco.com

Cisco Systems Limited
7025-6 Kit Creek Road PO Box 14987

[2017-04-24 20:34] #33 closed

[2017-04-24 20:35] pmorvay commented on #33
Sorry, it was my mistake, I saw authorization button, but Actually needed to set authorization as a value in the header

[2017-04-25 16:23] matthewjfarrell commented on #16
The CMX Mission learning lab is complete and is being reviewed by Yawming.  The DevNet sandbox team is ready to switch over to new url for CMX sandbox https://cmxlocationsandbox.cisco.com, on Friday, April 28.  Let us know if this date is still good.  Thanks, Matt

[2017-04-25 16:29] austinMarcos opened #34 "LM-4901 CMX Slides need review"
In Spark room on April 18, Ruth wrote:

Please see email trail about the CMX module.  Matthew's revised slides are in the 'slides under development' folder:
[https://cisco.box.com/s/at2s83fruaa4n8rqv9u0mt4skmkb8ftp](CMX LM-4901 Slides on Box)

Need to decide on timescale for releasing the new mission and slides. Suggest the end of this week to avoid confusing the Lima event.

[2017-04-25 16:33] matthewjfarrell commented on #31
Please, use the learning lab previewer or look at the .md files in github for the latest updates to the CMX learning labs. Thanks, Matt

[2017-04-25 16:48] matthewjfarrell commented on #34
The second slide is an image but should be updated with new "Mission: Query the CMX API using Python scripts".  Does anyone have the components for creating a new image?

[2017-04-25 17:33] yawming commented on #31
In those sample scripts have Unix time stamp maybe we can convert it to readable format

import time

          chgOn = json_data["Data"][count]["chgOn"]
          timestamp=time.ctime(int(chgOn)/1000)
          flr = json_data["Data"][count]["flr"]

          # s = [str(chgOn), str(x), str(y), str(flr)]
          s = [timestamp, str(x), str(y), str(flr)]

[2017-04-25 18:09] matthewjfarrell commented on #31
Yes, I like the conversion of milliseconds to a readable timestamp.  Please make the changes!
 Thanks, Matt

[2017-04-25 18:47] yawming commented on #31
I don't have permission to commit the changes

[2017-04-25 19:11] matthewjfarrell commented on #31
I added timestamp per request to /module09/mac_history.py.  Thanks!

Matthew Farrell
Cisco DevNet Developer
matfarre@cisco.com<mailto:matfarre@cisco.com>
Phone: +1 303 308 3265
Mobile: +1 303 249 3668

From: yawming <notifications@github.com>
Reply-To: CiscoDevNet/devnet-express-dna-issues <reply@reply.github.com>
Date: Tuesday, April 25, 2017 at 12:47 PM
To: CiscoDevNet/devnet-express-dna-issues

[2017-04-25 19:13] yawming commented on #10
the demo has been transferred to container. More work being done on the instructions for the hosts to use the demo.  - where is it ?

[2017-04-25 19:14] yawming commented on #31
Need to do the same for mac_info.py too

From: Matthew Farrell <notifications@github.com>
Reply-To: CiscoDevNet/devnet-express-dna-issues <reply@reply.github.com>
Date: Tuesday, April 25, 2017 at 12:11 PM
To: CiscoDevNet/devnet-express-dna-issues <devnet-express-dna-issues@noreply.github.com>
Cc: yawchen <yawchen@cisco.com>, State change <state_change@noreply.github.com>
Subject: Re: [CiscoDevNet/

[2017-04-25 20:05] matthewjfarrell commented on #31
I added timestamp per request to /module09/mac_info.py.  Thanks!!

Matthew Farrell
Cisco DevNet Developer
matfarre@cisco.com<mailto:matfarre@cisco.com>
Phone: +1 303 308 3265
Mobile: +1 303 249 3668

From: yawming <notifications@github.com>
Reply-To: CiscoDevNet/devnet-express-dna-issues <reply@reply.github.com>
Date: Tuesday, April 25, 2017 at 1:14 PM
To: CiscoDevNet/devnet-express-dna-issues <de

[2017-04-27 14:32] RuthCattell commented on #34
@matthewjfarrell I'll do that.

[2017-04-27 14:35] RuthCattell commented on #11
Is there an update on the slide review?

[2017-04-27 14:36] RuthCattell commented on #8
Is there an update on this?

[2017-04-27 14:55] RuthCattell commented on #34
I've updated the slide deck with the new image.  Has @denapom11 seen this deck / seen the mission yet?  Are we ready to go live on Friday?

[2017-04-27 15:04] matthewjfarrell commented on #34
Thanks Ruth, We are all set for moving learning labs to prod on Friday.  Matt

[2017-04-28 15:09] mbrainar opened #35 "dCloud environment $PATH enhancement"
In LM-4002: Event Preparation for DevNet Express (for DNA) Step 4, I would recommend as an enhancement, having users execute the following command:
[code]
which will add Notepad++ to their path and enable them to launch notepad++ with the git bash terminal:
[code]
Alternatively, it could be accomplished in the LM-4302: Verifying The Lab Environment module, or in each module before starting a lab.

[2017-04-28 15:14] austinMarcos opened #36 "Release notes for the Post-Berlin Showstopper issues being released."
For the hosts of events, write up a list of changes being pushed.

[2017-04-28 15:30] matthewjfarrell commented on #32
Yawming, please review/close this issue.  I have made the changes to the pages where each code sample demonstrates something different and asks the student to take note of.  Please use the learning lab previewer or GitHub master for the changes.  Thanks, Matt

[2017-04-28 15:41] hpreston opened #37 "Update CSR within Sandbox to IOS XE 16.5"
At the next major update cycle, we should upgrade the code on the CSRs in the lab to version 16.5.

This update will require changes to the Module 6 Labs due to YANG model changes.
I have already identified these changes for the non-DNE Learning Labs so the work is fairly minimal.

If any other Module uses the CSR we should investigate the potential impact.

[2017-04-28 15:44] yawming commented on #30
fixed

[2017-04-28 15:44] #30 closed

[2017-04-28 15:45] yawming commented on #31
fixed

[2017-04-28 15:45] yawming commented on #32
fixed

[2017-04-28 15:54] yawming commented on #16
Now we can reach the new Sandbox  https://cmxlocationsandbox.cisco.com and all sample codes are working fine.

The only left that I have noticed is the sample code, sampleRESTcode.py,in first mission - "Query the CMX API using Python scripts" which I understand is from the CMX API sample. When running this sample code if we enter the wrong username or password will get errors that looks like somet

[2017-04-28 16:17] #31 closed

[2017-04-28 16:17] #32 closed

[2017-04-28 18:31] austinMarcos commented on #4
Darien or Armen- When you make changes to LM-4002, please read the post at:
https://communities.cisco.com/message/252910

"I am going through the LM-4002: Event Preparation for DevNet Express (for DNA) module and on the Step 5 of that module I have an issue. When I open the AnyConnect secure mobility client (Version 3.2.09013) and paste the web address provided in the Step 5, I get a warning from

[2017-04-28 19:10] denapom11 commented on #34
Slides look good to me!  Let's rock and roll!

[2017-04-28 19:21] denapom11 commented on #34
New Mission is good too.  More accessible :)

[2017-04-28 20:38] austinMarcos opened #38 "Folders in the code-samples repo should match the new labeling system of LM-xxxx"
The current code samples repo uses folder names based on Module x labels:

https://github.com/CiscoDevNet/devnet-express-code-samples

Need to:
- change folder names to match the current module labels
- change the paths in the labs to match the new folder names

[2017-04-28 21:07] cmlccie opened #39 "Live-event participants have to sift through content to find instructions referenced in the event"
At a DevNet Express event delivery of the learning track we make reference to and direct participants to portions of the labs for them to complete as part of the event, and as the referenced portions are a small subset of the online content, the participants have to sift through pages of content to find the portions that we are referring them to... It's a little UX impactful to say the least.

Som

[2017-05-01 22:00] armartirosyan commented on #38
Folder have been renamed to meet the new naming convention. https://github.com/CiscoDevNet/devnet-express-code-samples

Text and screenshots have been updated to reflect the change
https://github.com/CiscoDevNet/devnet-express

[2017-05-02 08:29] RuthCattell commented on #16
@austinMarcos - Can I have the Release notes please if this is now ready to go???

[2017-05-02 13:52] RuthCattell commented on #34
Release notes are still needed.  @austinMarcos - please provide them.  What then needs to happen about pushing the labs ... who gives the go-ahead?  Please advise.

[2017-05-02 13:53] RuthCattell commented on #36
@austinMarcos - please provide these for CMX and for DNA (although it looks as if the DNA slides still need working on?  What's the status please?

[2017-05-02 14:24] RuthCattell commented on #10
Marcos sent an email yesterday to say
"Armen-

When ready, please upload the Word doc with the instructions for the hosts to use the demo:
https://cisco.app.box.com/files/0/f/22683757875/C_-_proposed_revisions_for_slides_post-v2"

Can someone confirm what's happening with this please?  Has it gone live?  Is it ready?  There's notning in that box folder relating to this.

[2017-05-02 14:36] RuthCattell commented on #11
Chris O put the following comment in the Spark room:
"Hi Team - I've done more work on this. I need help on slide 18 - also, I'm wondering if you think we need all the slides after slide 30. For me, as an intro to DNA, I think it just goes on and on and on….we could shorten this entire segment and jump into the meat of the session. I think we could drop at least 2/3 of the slides after 30…but I ha

[2017-05-02 15:20] armartirosyan commented on #10
The final instruction document has been provided to Yawming for QA.
The document has been uploaded to the https://cisco.app.box.com/files/0/f/22683757875/C_-_proposed_revisions_for_slides_post-v2 folder

Awaiting for Yawming to provide a feedback on the QA.

[2017-05-02 22:48] yawming commented on #10
Hi Armen,

I was trying to verify the content but as in the email I sent last week indicated I cannot find a dClund environment matched to the content.

This instruction is only for instructor or both student and instructor?

If it’s for both then the first I think we should be more detail to tell where they can obtain the login and password.

Any way If possible I like finish reviewing this instr

[2017-05-02 23:57] armartirosyan commented on #10
Hi Yawming,

The instructions are only for instructors/presenters.

To reserve a pod search for Cisco DevNet Express DNA Sandbox v2 in the dCloud catalog  or follow this link [https://dcloud2-sjc.cisco.com/content/demo/2032?returnPathTitleKey=content-view](https://dcloud2-sjc.cisco.com/content/demo/2032?returnPathTitleKey=content-view).

Note that you can only use your Cisco account to reserve a p

[2017-05-03 04:15] yawming commented on #10
I don’t have issue to reserved dCould just that the content I saw it’s not the same ae the one in instruction.

https://dcloud2-sjc.cisco.com/session/13405/details?returnPathTitleKey=view-session

[cid:image001.png@01D2C3F2.EE5CB240]

From: Armen Martirosyan <notifications@github.com>
Reply-To: CiscoDevNet/devnet-express-dna-issues <reply@reply.github.com>
Date: Wednesday, May 3, 2017 at 7:57 AM
T

[2017-05-03 06:51] austinMarcos commented on #34
Slides have been published to:
https://cisco.app.box.com/files/0/f/22683757875/C_-_proposed_revisions_for_slides_post-v2

[2017-05-03 06:51] #34 closed

[2017-05-03 07:03] austinMarcos commented on #36
RELEASE NOTES

LM-4901 Labs and Mission
- The URL in the labs was updated to use the following sandbox: cmxlocationsandbox.cisco.com
- The Mission was re-written to use Python and to use the sandbox.
- renamed the folder in the code samples repo from Module09 to LM-4901

[2017-05-03 07:51] austinMarcos commented on #38
Changed the names for the labs and mission in the CMX module (to LM-4901).

Published all labs to production.

[2017-05-03 09:22] austinMarcos commented on #10
I updated the instructions, and renamed the filename to:
**Instructions for LM-4201 Demo.docx**

Make sure to make any changes to the latest doc in Box:

https://cisco.app.box.com/files/0/f/22683757875/C_-_proposed_revisions_for_slides_post-v2

[2017-05-03 09:38] austinMarcos commented on #8
Verified that the demo scripts are in the [code samples repo](https://github.com/CiscoDevNet/devnet-express-code-samples).

[2017-05-03 09:58] austinMarcos commented on #11
1. I incorporate 2 slides from Chris O. The slides have the titles "The Cisco Application Centric Platform". I inserted them right before the slide for the demo.
2. I added a short note to the slide for the demo to point to the instructions in the Word document that explains how to set up the demo.

These changes are all that is needed for this Post-Berlin update for showstoppers. Further changes

[2017-05-03 10:54] RuthCattell commented on #36
Updated FINAL PUBLISH SLIDES folder for both LM-4901 and LM-4201 with the new slides, demo notes and a Release Notes box note.
https://cisco.box.com/s/pdlqz2sozox4tb4d0bavgji62vnf31n5

[2017-05-03 10:55] RuthCattell commented on #11
Updated FINAL PUBLISH SLIDES folder for LM-4201 with new slides, demo notes and a Release Notes box note.
https://cisco.box.com/s/pdlqz2sozox4tb4d0bavgji62vnf31n5

[2017-05-03 10:56] RuthCattell commented on #8
Updated FINAL PUBLISHED SLIDES folder for LM-4201 with new slides, demo notes and a Release Notes box note.
https://cisco.box.com/s/pdlqz2sozox4tb4d0bavgji62vnf31n5

[2017-05-03 18:09] brtiller1 commented on #38
Please fix issues below:
1.  Lab Python Primer Level 1 - Steps 2,3,4,5.  Directory text 'LM-4002' should be 'LM-1201'.  Assure that screens shots match text.
2. Lab Python Primer Level 2 - Steps 1-4.  Directory text 'LM-4002' should be 'LM-1201'. Assure that screens shots match text.
3. Corresponding slide decks need to updated for all with directory changes.

[2017-05-04 11:58] yawming commented on #10
Instructions for VIRL Demo in Ubuntu VM:

1.      After getting into session  - https://dcloud2-sjc.cisco.com/content/demo/2032?returnPathTitleKey=content-view. Still cannot find the ~/Code/devnet-express-code-samples/LM-4201

Folder.

Instructions for VIRL Demo in Docker Container:

1.      Maybe have a pointer for people don’t have Docker in their system to tell them how to install it?

2.

[2017-05-04 15:16] austinMarcos commented on #38
Armen and I are going to look through the slides to make sure there are no incorrect references to the code samples. The slides that are being used in the upcoming events are here:

So far, I have verified that the following slide decks are clean:

- _H - LM-4602 - Device Level Interfaces - RESTCONF, NETCONF, and YANG.ppt_

[2017-05-04 15:44] austinMarcos commented on #8
Armen delivered container environment. Published and ready for use.

[2017-05-05 18:14] armartirosyan commented on #10
Hi Yawming,

Can you please try these commands in the terminal and see if it pulls necessary folders from github
[code]
I will add a note to instructions so the presenters can pull the repo and access the folder.

Regarding the `run [attached virl file]` command in the ~/Code/devnet-express-code-samples/LM-4201/sims folder you can find a .virl file and test the command against it. I will add a not

[2017-05-05 20:07] armartirosyan commented on #10
I found out why the git pull was not working.  Apparently the Ubuntu box was imaged under `iss47` branch and that is why Yawming was not able to see the necessary folders. We need to ask Eddie to re-image the Ubuntu box.

[2017-05-08 19:57] austinMarcos commented on #36
Posted announcement in General Spark room to the DevNet Tiger Team.

[2017-05-08 19:57] #36 closed

[2017-05-09 18:49] mbrainar opened #40 "LM-1201 GitHub repo samples do not match module text"
helloworld.py in repo:
[code]

While the content of the lab shows:
[code]
And suggests making changes to the "Goodbye Cruel World" line in the exercises; which is not possible if you use the latest code in the repo.

[2017-05-11 17:57] armartirosyan commented on #38
Below slides need to be changed to reflect new naming convention:
1. **G - LM-4502 - APIC-EM and REST APIs.pptx**
    * Slide 38
2. **F - LM-4402 - REST APIs.pptx**
    * Slide 26
    * Slide 33
3. **E - LM-1201 - Intro to Python and Programming Basics .pptx**
    * Slide 8
    * Slide 35
    * Slide 40

[2017-05-11 18:15] armartirosyan commented on #10
As a temporary fix I updated iss47 branch with the contents currently in the master branch.

[2017-05-11 21:21] armartirosyan opened #41 "dCloud: Issues in Ubuntu Host"
Ubuntu host in Cisco DevNet Express DNA Sandbox v2 pod has several issues and needs to be re-imaged.
Issues are:
1. devnet-express-code-samples folder shows contents of iss47 branch. Also there are some uncommitted items in that folder so making a pull request ends with error
2. Main user's home directory (`/home/cisco/`) has a `.ngrok` folder which needs to be removed. It prevents multiple ngrok

[2017-05-12 15:19] austinMarcos commented on #17
Workaround:  add note to the lab to notify user that there is a known issue with the pyang package.  Using Gitbash would be our recommended workaround (or any bash shell for the command line).

[2017-05-12 15:23] austinMarcos commented on #7
Discussed in Friday triage meeting: because the pod image has a version of the repo that is significantly diverged, we need to:

- fix the pod image (CiscoDevNet/devnet-express-dna-issues/issues/41)
- temp workaround: add instructions to the lab to get the latest repo (using git reset)

[2017-05-12 15:28] austinMarcos commented on #7
Let's publish ASAP (after coordinating with Ruth on best time to push).

Write the new instructions into the preparation module.

[2017-05-12 15:34] austinMarcos commented on #19
In Friday triage meeting, with input from Chris L. decided that this is an issue that we should resolve now while we are in the process of creating a new pod image.

[2017-05-12 16:27] hpreston commented on #17
I'll review the lab docs and run it on the windows machine.  I know I've never had issues doing any of the exercises on the Windows box so I'll see if I can identify what is different and clear up any confusion in the lab guide.

[2017-05-12 18:58] armartirosyan commented on #7
Event Preparation for DevNet Express lab was updated with below instructions as a temp workaround.

[2017-05-15 12:33] hremond commented on #4
+1 on this enhancement. Finding the right content for the right platform proved to be sometime difficult for many attendees (DevNet Express for DNA - Lausanne)

[2017-05-15 12:39] hremond commented on #17
For our event (DNE for DNA - Lausanne), we found another workaround : windows users needed to type in _python ..\Scripts\pyang -f tree ietf-interfaces.yang_ and it worked (.. being \Users\userid\Code\mycode).
Worth updating the lab docs (took us 30 min to figure it out...)

[2017-05-15 12:46] cmlccie commented on #17
@hremond and @hpreston , yes, the issue at it's core is an execution and path issue, which @hremond 's workaround corrects both:

1. Using `python` before the script name (causes Windows to run the file using the python interpreter)
2. Using the full (relative in this case) path to the `pyang` script.

Either this or use of a bash shell should be suitable workarounds.  Note that providing the full

[2017-05-15 19:36] cmlccie commented on #8
We need to create an editable / re-creatable container environment via a Dockerfile.  I am working with @armartirosyan on this.

[2017-05-15 21:29] robertcsapo commented on #8
Supports Kitematic (ports, volume and /bin/bash shell)
pip install could be better automated if repository was maintained with a general requirements.txt

[code]

[2017-05-16 14:01] cmlccie commented on #36
Moved release notes to new `DevNet Express - Release Notes` folder:

[2017-05-16 14:08] cmlccie commented on #16
Reopenning as Release Notes were not provided for this substantive change.

[2017-05-16 17:43] hpreston commented on #17
@cmlccie

Though other methods of running the exercises with the standard command prompt may work, for the best experience all the labs should be run using the git bash interface, leveraging the proper icon on the desktop.

Does this work for you to resolve this issue.  At the start of each example, I'll add a note in the Lab that says:

**Note: ** if you are running these labs from the Windows se

[2017-05-16 18:14] cmlccie commented on #17
That certainly works for those using the dCloud Windows environment, but it probably doesn't address those running into this when using their own Windows laptops.

[2017-05-16 18:59] hpreston commented on #17
@cmlccie - correct... I'll adjust slightly to try to cover the BYOD model, but there is only so much possible for those cases.... and why I am leading the charge around dCloud only for DNE :-)

[2017-05-16 21:14] hpreston commented on #17
Changes have been made in the Labs and pushed to Staging.  Awaiting info on when to push to prod.

[2017-05-16 21:48] ecorban commented on #41
i will work on this issue with armen and update an share i have running on dcloud in SJ. This will need an revision and need to be re-published.

[2017-05-17 19:14] austinMarcos commented on #17
Verified that the note has been added to [the yang lab on production server](https://learninglabs.cisco.com/tracks/devnet-express-dna/dna-restconf-netconf-yang/06-dmi-02-introducing-yang-data-modeling/step/4).

@cmlccie - Can you please verify the fix and close the issue?

[2017-05-17 21:09] cmlccie commented on #17
It would be nice if we could call out important notices and work-arounds with some sort of visual highlight.  This notice as it is easily blends into the text and might be easily overlooked.

<img width="1078" alt="cisco_devnet_learning_labs" src="https://cloud.githubusercontent.com/assets/16244946/26176223/67df04a4-3b23-11e7-8abe-df2fc2050798.png">

[2017-05-18 14:40] cmlccie commented on #8
@robertcsapo Thanks for sharing your DockerFile; however, what we are talking about in this issue is a building a cleanly executable image for hosting the DNA Explained ChatOps demo bot.

[2017-05-18 15:53] austinMarcos commented on #7
The pod image needs to be updated by Eddie to get the repo to synch seamlessly.

[2017-05-18 15:55] austinMarcos commented on #7
@austinMarcos Next need to:
- verify that this workaround instruction is edited and
- published.

[2017-05-18 16:12] austinMarcos commented on #11
@cmlccie I see that you re-opened this issue. Is there something left to do on the slides for LM-4201?

[2017-05-19 00:48] armartirosyan commented on #41
Eddie,

Please use below steps to fix the issues on the Ubuntu host and make adjustments on Windows machine.

1. Open LXTerminal and navigate to `/home/cisco/Code` folder
2. Remove the code-samples folder by using following command `sudo rm -rf devnet-express-code-samples`
3. Clone the repository to `Code` folder by using `git clone https://www.github.com/CiscoDevNet/devnet-express-code-samples.gi

[2017-05-19 10:29] ecorban commented on #41
thanks armen. all of this was captured during the webex.

[2017-05-19 14:31] cmlccie commented on #8
@armartirosyan I finished building the image automation tools to make the image creation and maintenance a little more streamlined:
* `requirements.txt` - Streamlines the installation of the Python package dependencies
* `docker_launch_bot.sh` - Streamlines the bot startup process
* `Dockerfile` - Automates the image build process
* `docker-compose.yml` - Streamlines the container creation process

[2017-05-19 14:33] cmlccie commented on #8
You can easily try out the image with the following command:
[code]

[2017-05-19 15:11] austinMarcos commented on #8
@armartirosyan and @yawming should at minimum talk about this process of delivering a container.  If Yaming can access the resources, he should test it.  Otherwise, if all seems to be working Armen or Yawming can mark this as done once delivered.

[2017-05-19 15:29] austinMarcos commented on #38
Changes to slides can be made, delivered ASAP.

[2017-05-19 15:33] austinMarcos commented on #15
@yawming reports that issue is difficult to re-produce. This team does not have an immediate fix to this issue.  @cmlccie asks: "Can we come up with a process that mitigates the symptoms. Currently the SEs have to spin up a new pod for the student."

[2017-05-19 17:25] cmlccie commented on #11
Yes, I reopened this issue as the slides that were added don't "make sense" (referring to APIs and capabilities in the wrong places) and aren't what we had agreed upon would be done with this ask.  The slides included were Chris O.'s placeholders.  Actual factual and visually appealing slides were to be created and included (perhaps with the help of the tiger team).

[2017-05-19 18:56] ecorban commented on #15
The fastest method to resolve this issue is to login via ssh to apic-em and reset_grapevine. This takes approx.. 45 to resolve. This was documented already
By other users.

[logo_Grey]

Eddie Corban
TECHNICAL LEADER.ENGINEERING
ecorban@cisco.com<mailto:ecorban@cisco.com>
Tel: +353 91 38 4623

Cisco Systems, Inc.
Oranmore Business Park Oranmore
GALWAY

Ireland
cisco.com

[http://www.cisco.com/asset

[2017-05-19 19:12] yawming commented on #15
45 min id too long. I think quicker way is to have a few reserved pods and have an easy and quick way to assign new pod to user.

From: ecorban <notifications@github.com>
Reply-To: CiscoDevNet/devnet-express-dna-issues <reply@reply.github.com>
Date: Friday, May 19, 2017 at 11:56 AM
To: CiscoDevNet/devnet-express-dna-issues <devnet-express-dna-issues@noreply.github.com>
Cc: yawchen <yawchen@cisco.c

[2017-05-19 19:19] cmlccie commented on #15
@yawming I think @ecorban meant 45s.  😏  If that is the case, and the best we can do at the moment, perhaps the initial resolution should be to note this workaround / resolution in an appropriate place.

[2017-05-19 19:22] yawming commented on #15
I don’t think reset_grapevine only take 45s. It will re-grow all apic-em services.

From: Chris Lunsford <notifications@github.com>
Reply-To: CiscoDevNet/devnet-express-dna-issues <reply@reply.github.com>
Date: Friday, May 19, 2017 at 12:19 PM
To: CiscoDevNet/devnet-express-dna-issues <devnet-express-dna-issues@noreply.github.com>
Cc: yawchen <yawchen@cisco.com>, Mention <mention@noreply.github.co

[2017-05-20 09:32] armartirosyan commented on #8
@cmlccieI made couple of changes in Dockerfile and demo_bot.py file so the ngrok and chatbot can be accessed from the host.  PR https://github.com/cmlccie/devnet-express-code-samples/pull/1
Also, I updated the docker image with latest changes.
After @yawming is done with QA we can go ahead and create a pull request and merge the changes with the master branch.

Thanks

[2017-05-20 10:05] armartirosyan commented on #38
All slides have been updated to reflect the folder name changes in devnet-express-code-samples repo

[2017-05-20 10:19] armartirosyan commented on #19
I believe proposed folder structure is ideal solution to our problem.
[code]

If there are no objections, I will go ahead and make changes in the DNA track

[2017-05-20 16:02] cmlccie commented on #8
Changes look great @armartirosyan !  I merged the pull and made one following commit (changing home-relative paths to absolute paths - just for consistency).

The instructions document may need to be updated, but otherwise the container image should be ready for QA.

[2017-05-20 16:06] cmlccie commented on #19
That structure looks good to me!  The only modification or input that I would give would be to not add the `devnet-express-code-samples` folder/repo underneath the `dna` folder, but rather make-it the `dna` folder by cloning the repo to the `dna` folder name - like so:

[code]

This shortens path names, and I feel it is a little cleaner / clearer.

[2017-05-20 18:00] armartirosyan commented on #19
@cmlccie @austinMarcos
Should this change be implemented before DevNetExpress event in Las Vegas or after?
Below items need to be updated
* Instructions in all labs
* Screenshots
* Slide decks

[2017-05-20 21:16] cmlccie commented on #19
The DNA track isn't being offered at CLUS (just CC and DCI); however, it would be good to get this new 'standard' over to the other track creators to use in those tracks.  It would be good to start off these tracks with the standardized folder structure - if possible.

[2017-05-22 07:52] armartirosyan commented on #8
Instructions document has been updated to reflect the changes made to the docker image.

[2017-05-22 11:54] hpreston commented on #19
This makes sense to me and I agree it's a confusing issue.  Having a standard will be great.  We will implement in the DCI track that is in development now.

[2017-05-22 12:11] cmlccie commented on #19
Just to confirm, we are looking at the following:

[code]

Which produces nice, intuitive and relatively short relative paths like:
`~/CiscoDevNet/code/dna/LM-4201/`

Correct?

[2017-05-22 12:19] hpreston commented on #19
@cmlccie one thing I've asked for the code samples on DCI is that after the "LM-XXXX" we include a short description of what the module is.  Numbers are great to verify, but can be a pain if you don't intuitively know them.  So what I've asked for would be something like this..

[code]

Any problems with that small deviation?

[2017-05-22 12:29] cmlccie commented on #19
@hpreston , I completely understand... When looking at the `LM-xxxx` folders, you don't really know which one is which (was also an issue with the `Modulexx` naming / numbering scheme).

My input on the names you describe would be to:
1. Keep the names as short as possible (so we don't get the crazy long path names that we have seen with the DNA track).
2. Don't have spaces in the folder name; oth

[2017-05-22 12:34] cmlccie commented on #8
Thanks @armartirosyan !  I like the inclusion of the Table of Contents.

I do note that we are referring / using the Docker image posted under my GitHub account (`cmlccie/dna-explained-demobot`), which I don't mind, but I'm not sure that is the best place for it.

Does DevNet have an "organization" setup on DockerHub - like they do with `CiscoDevNet` on GitHub?  If not, we should probably get one

[2017-05-22 12:45] hpreston commented on #19
@cmlccie good points... we'll work them into the updates.

[2017-05-22 16:11] yawming commented on #8
1.  I agree with Chris that maybe post Docker image under DevNet github
2. I followed through the document - https://cisco.app.box.com/files/0/f/22683757875/1/f_166467429614 starting from page 5 - Instructions for the Demo in Docker Container.
It worked as expected but I have a concern about the continuity.

This section ended with “If everything was entered correctly, the last line printed by the

[2017-05-22 19:55] austinMarcos commented on #19
+1 on Armen's proposed structure:

[code]
+1 on adding short descriptions to code samples folder names for the Data Center track.

+1 on _'Don't use spaces in the folder names'_

@cmlccie  I agree that although we are not presenting a DNE for DNA at CLUS 8-) , the week of CLUS would be a good time to update the DNA pod's directory structure (and labs and slides).  One advantage is that there are n

[2017-05-26 14:56] cmlccie opened #42 "Add Meraki to DNA Track"
There have been several requests from the field for the DNA track to include coverage of Meraki cloud-managed APIs in addition to the Cisco locally-manage infrastructure APIs.  This could be done in a couple of ways:

1. Add coverage of Meraki APIs to the relevant existing modules (perhaps as additional learning labs).
2. Add additional modules that specifically cover Meraki APIs.  Then, the local

[2017-05-31 16:29] austinMarcos commented on #19
Based on conversation in DCI scrum today re path for virtual environment folder
[code]

[2017-06-01 15:50] austinMarcos commented on #41
@yawming can you test the following 2 missions from the DNA track to see if the pod image is now working. Make sure that the 3 issues reported above are fixed.
- Test the APIC-EM Mission:
  - https://learninglabs.cisco.com/tracks/devnet-express-dna/devnet-express-np-rest-apic/05-apic-04-mission/step/1
- Test the NETCONF Mission
  - https://learninglabs.cisco.com/tracks/devnet-express-dna/dna-restc

[2017-06-01 15:59] austinMarcos commented on #8
Based on scrum conversation, is this enough support?  At what point do we stop explaining how to setup the Docker environment?
Yawming suggested that we make it more clear where to go in the next step from this option (the option of using the Docker file versus the Ubuntu host).  In other words, recommend more clarity on next steps.

[2017-06-01 16:01] austinMarcos commented on #7
See resolution (updated pod image): CiscoDevNet/devnet-express-dna-issues/issues/41

Closing this issue as duplicate.

[2017-06-01 16:01] #7 closed

[2017-06-01 16:03] austinMarcos commented on #4
Based on conversation in scrum: @darien-hirotsu will publish updated labs to stage.

@cmlccie : please review the labs in stage for acceptance

[2017-06-01 16:25] austinMarcos opened #43 "Release Notes for v2.2 - Updates to dCloud pod image and instructions"
Need to summarize the changes being released with v2.2.

[2017-06-01 17:01] yawming commented on #15
Proposed solution:
Have a few reserved pods ready. Patrick Riel will create a automation app so whoever needs to assign a new pod to the user just need to input simple user's information (like email) then new pod will be ready for that user in seconds, new pod's login info will be sent via provided email.

[2017-06-01 20:58] yawming commented on #41
* 05-apic-04-mission - working fine

* https://learninglabs.cisco.com/tracks/devnet-express-dna/dna-restconf-netconf-yang/06-dmi-05-mission/step/1 - couple of problems:

1. devnet-express/labs/06-dmi-05-mission/1.md @ line 28
module06/lab05_mission need to change to LM-4602/05-mission

2. I ran script "01_get_interface_stats.py" in Ubuntu. Script itself is ok but got some environment issue - modul

[2017-06-01 22:11] darien-hirotsu commented on #4
@cmlccie - Just a heads up, you can see this now in dev if you want to do a quick look over.

https://github.com/CiscoDevNet/devnet-express/blob/master/labs/00-prep-01-prep-before-you-go/1.md

[2017-06-02 15:21] austinMarcos commented on #15
**Status**
@Iftach agreed that it's worth having Patrick create the script for quick re-assignment of a pod.

@Iftach suggests investing more effort into debugging to do more root-cause analysis (collect log data for example to identify root cause).  Yawming would need to consult with @Eddie APIC-EM teams to figure out how to do further analysis, and find out whether the next version of APIC-EM wi

[2017-06-02 16:01] austinMarcos commented on #41
Corrected item 1 from comment above:
[code]

I published the updated mission to stage and prod.

[2017-06-03 00:06] darien-hirotsu commented on #4
@cmlccie - This is now posted to stage. If you have a few minutes to review and provide feedback, I can try to get this pushed to prod ASAP.

[2017-06-05 16:58] zapodeanu opened #44 "Using the Location Services - notification listener ports issue"
Here is the lab I mentioned: https://learninglabs.cisco.com/tracks/devnet-express-dna/dna-cmx-mse/09-cmx-03-cmx-and-mse-deep-dive/step/1
we will need multiple ports open for the listener. When I presented the session last week, I had only one port open.
It is frustrating for the attendees not be able to complete the lab.

[2017-06-07 14:44] austinMarcos opened #45 "Setup missing a step for dCloud reservation"
The procedure on the following page is missing a step for reserving a dCloud pod. The dCloud interface requires the user to select a Data Center before they can see the catalog:

https://learninglabs.cisco.com/tracks/devnet-express-dna/devnet-express-lab-setup/03-environment-01-overview-of-the-lab-environment/step/2

[2017-06-07 20:42] tmero opened #46 "Room name not specified in instructions causing attendees making different rooms"
In these instructions, the room name should be the exact room the proctor provides for the event. When attendees complete this mission, the data gets posted to the Spark room. The proctor can track who completes the mission.

In the instructions, it doesn't mention this, causing everyone to create a different room, with the proctor not being able to see who completes the mission:

https://learning

[2017-06-07 20:46] tmero opened #47 "The "Hint" is not very clear for restconf pyang step 4"
After witnessing the attendees around me confused at this step, I think we should add a little more detail or at least a link to the pyang models and the expected behavior. This is only confusing to the less experienced people.

https://learninglabs.cisco.com/tracks/devnet-express-dna/dna-restconf-netconf-yang/06-dmi-05-mission/step/4

Content:
Hint
Use pyang to review the ietf-interfaces.yang mod

[2017-06-07 20:48] tmero opened #48 ""This is around line 90" is incorrect"
"This is around line 80". The function is being called on line 90. For the people brand new to Python, it is very confusing where to go. For people familiar with programming, it's obvious where to go. There needs to be a bit more clarification on how to make this change.

https://learninglabs.cisco.com/tracks/devnet-express-dna/dna-restconf-netconf-yang/06-dmi-05-mission/step/3

Content:
Within th

[2017-06-07 20:50] tmero opened #49 "Introduction to NETCONF Slide - Needs minor clarification"
On the Introduction to NETCONF Slide, where it says "Lab #3: Introduction to NETCONF * Complete Step 7 - Querying for ietf-interfaces" The step 7 page says "Example 4", making attendees think they are not on Step 7 and they are on Step 4, feeling a bit lost.

Can we add : " * Complete Step 7 - Querying for item-interfaces (Example 4) " to make it clear?

[2017-06-07 20:52] tmero opened #50 "Step 1 is misleading and makes you think you need to complete those steps before going to Step 2"
It says to change all the things in the file. Then attendee gets stuck on certain parts, then realize the next few steps goes over them, but Step 1 gives the impression that it needs to all be completed prior to the next step.

https://learninglabs.cisco.com/tracks/devnet-express-dna/devnet-express-np-rest-apic/05-apic-04-mission/step/1

suggestion made: Remove "Step 1" and keep the "Overall Guide

[2017-06-07 20:53] tmero opened #51 "Need more time before starting the mission"
A lot of attendees didn't have time to work on this mission:
https://learninglabs.cisco.com/tracks/devnet-express-dna/devnet-express-np-rest-apic/05-apic-04-mission/step/1

If we can get more time on this mission and less time on the prior labs, OR more time on the labs and less time on the mission, it could work out better :)

[2017-06-07 20:55] tmero opened #52 "Having Printouts of the Learning Labs"
Frequent feedback made to have a printout of the learning labs so you can easily go back to different steps/labs as a reference.

I'd personally recommend this as it's easier than having so many tabs open. When the content is foreign to you, it's more confusing moving to different pages.

[2017-06-08 05:51] fracaen commented on #52
This has been requested by customer attendees in multiple cities.

[2017-06-08 15:43] austinMarcos commented on #43
@ecorban We are ready to roll out the dCloud pod image for the changes made to v2.2 of the track.

Eddie- When can we schedule the publishing of the pod? Can we do this during CLUS?

[2017-06-09 15:03] cmlccie opened #53 "Remove Tropo from LM-4802: Interacting with Humans: DevOps Style"
Due to some positioning changes with Cisco Tropo, we should **remove the Tropo content** from the _LM-4802: Interacting with Humans: DevOps Style_ module.

Perhaps we could add some additional Spark content to supplement.  Very-basic bot?  SDK use?

[2017-06-09 16:32] ecorban commented on #43
hi marcos. talked with @armartirosyan. he has shared the pod and is testing with @yawming the changes to the pod (Cisco DevNet Express DNA Sandbox v2 Start:19-May-2017 16:30End:17-Jun-2017 16:30Session ID:401094Virtual Center:5Shared by:armartir). As soon as they give the ok to publish, we will begin the process.

[2017-06-15 15:53] austinMarcos commented on #15
Based on feedback from Pedro:  It appears that when the pod golden image is created that if APIC-EM is not shutdown properly it can create an unstable state when it is next started. It is possible that the existing image that was being used for v2 had not been properly shut down. The new pod image for v2.2 addresses this.

[2017-06-16 14:36] RuthCattell opened #54 "Communication of v2.1"
- New pod to be available to order from Monday 26.
- Events taking place between Monday 26 and and Monday 10 July (Prague, Oslo, Santiago) will use existing pod.
- Events taking place from Monday 10 July (starting with Denver and Herndon taking place that week) will be notified that they need to use the new pod.

Need to determine who is telling what to whom.

[2017-06-16 15:08] austinMarcos commented on #17
Received message in Spark:

Need to understand whether the Windows command window can be used to access pyang or run ANY of the python scripts without a workaraound. We need to look at possibility of updating the way Python is installed on the dCloud Windows workstation.

[2017-06-22 15:39] austinMarcos commented on #4
Marcos recommended to push these updated labs to production on Monday, June 26. We want to make these available with the release of v2.2 (and the updated v2.2 pod).

[2017-06-23 16:47] RuthCattell opened #55 "Meraki module for DNA track"
Specification for a Meraki DNA module (led by Matt Denalpoli) is in the Box folder at https://cisco.box.com/s/egt8h3sjcb7mj93uqrx4phe6iwcyqzl1 and attached to this issue.
[meraki-dna-module-definition-june-2017.docx](https://github.com/CiscoDevNet/devnet-express-dna-issues/files/1098459/meraki-dna-module-definition-june-2017.docx)

email sent today to stakeholders (Colin and Dorothy from Meraki) a

[2017-06-23 17:12] RuthCattell commented on #4
@austinMarcos Slide decks will also need to change. (LM 4002 and LM 4302).
As agreed, v2.2 pod going live on **Tues June 27** and starting to be used by events taking place from **Tues July 11**.  Events between June 27 and July 11 will need to use 2.1 material.

To ensure no confusion with event owners, suggested timeline is below:

**Tues June 27** - new pods available, 2.2 slide decks available

[2017-06-23 22:48] darien-hirotsu commented on #50
@tmero This should be resolved. I added an explanation clarifying the intent of the steps. Let me know if you have any other feedback/comments.

[2017-06-23 22:57] darien-hirotsu commented on #48
@tmero This should be resolved in dev. https://github.com/CiscoDevNet/devnet-express/pull/104/files

Feel free to review and provide additional feedback.

[2017-06-23 23:25] darien-hirotsu commented on #47
@tmero I added a comment explaining that the expected output appears on the link and how to use it.

Let me know if you have any feedback!

[2017-06-23 23:25] darien-hirotsu commented on #47
See the change here: https://github.com/CiscoDevNet/devnet-express/pull/105

[2017-06-24 00:06] darien-hirotsu commented on #46
@tmero This should be resolved and merged to dev. I added a comment clarifying where the Spark room should come from. Let me know if you have any feedback.

https://github.com/CiscoDevNet/devnet-express/commit/a64ff15669ede55dc3ac2a02419323344573c2d1

[2017-06-24 00:19] darien-hirotsu commented on #45
@austinMarcos This should be resolved. Feedback welcome.

https://github.com/CiscoDevNet/devnet-express/pull/107/commits

[2017-06-24 00:23] darien-hirotsu commented on #55
@RuthCattell Looks like there is already an issue open for this (See issue42). I'll add your notes to the existing and close this redundant one.

https://github.com/CiscoDevNet/devnet-express-dna-issues/issues/42

[2017-06-24 00:24] #55 closed

[2017-06-24 00:24] darien-hirotsu commented on #42
@cmlccie Looks like this is progressing. Ruth made the following comments:

Specification for a Meraki DNA module (led by Matt Denalpoli) is in the Box folder at https://cisco.box.com/s/egt8h3sjcb7mj93uqrx4phe6iwcyqzl1 and attached to this issue.
meraki-dna-module-definition-june-2017.docx

email sent today to stakeholders (Colin and Dorothy from Meraki) asking for input. If all is well, we wil go

[2017-07-06 19:07] pseguel opened #56 "wrong code in solution slide 30 - LM-4402"
In slide 30, of LM-4402 it says:
for room in spark[" items"]:
	print("Title is: " + spark["title"] + ", type is: " + spark["type"])

It should be
for room in spark[" items"]:
	print("Title is: " + room["title"] + ", type is: " + room["type"])

[2017-07-10 18:37] RuthCattell commented on #4
What's the status on this?

[2017-07-10 18:37] RuthCattell commented on #43
Status?

[2017-07-10 18:38] RuthCattell commented on #8
Status?

[2017-07-10 19:19] yawming commented on #43
There are 6 labs, in the beginning of lab 1,3,5 says -  If you are installing the tools on your local machine for scenarios #1, or #3, you need to complete the steps on this page
Beginning of lab 2,4,6 says - If you are installing the dev tools on your local machine for scenarios #2, #4, or #5, you need to complete the steps on this page.

What are scenarios? Not mentioned.

1 Pre-Event Preparatio

[2017-07-11 11:32] RuthCattell commented on #4
The go-live date was yesterday.  @austinMarcos - please advise the status.  Thanks.

[2017-07-11 11:32] RuthCattell commented on #43
The go-live date for the Release Notes was yesterday.  @austinMarcos - please advise the status.  Thanks.

[2017-07-11 14:05] cmlccie commented on #19
Following past and recent observations from DNE events, we need to have a meeting to discuss at a higher level the end-to-end participant workflow.  Tools used, recommended folder structures, and instructions provided all contribute to the participants journey and experience with engaging with these labs and learning track.

I have tagged the open issues related to the participants Development Env

[2017-07-11 15:45] armartirosyan commented on #15
The APIC-EM was properly shutdown for 2.1 but users are still reporting issues with it.

[2017-07-11 16:28] austinMarcos commented on #43
**Release Notes for Event Hosts**

[Issue#4](https://github.com/CiscoDevNet/devnet-express-dna-issues/issues/4) **Module LM-4002**
  - Labs: In v2 there was one lab that covered all scenarios. In v2.1 we broke the lab instructions into 6 labs, a different lab depending on which OS and dev environment combination the participant plans to use.
  - Slides: Removed the step numbers on slides that show

[2017-07-12 14:58] #54 closed

[2017-07-12 15:59] austinMarcos commented on #43
Published a summary of the notes on Box, in the folder that have the slides for v2.1:

[2017-07-12 15:59] #43 closed

[2017-07-13 16:26] austinMarcos commented on #16
Content published on May 3.

[2017-07-13 16:26] #16 closed

[2017-07-13 16:28] austinMarcos commented on #11
Slides updated with new slides from Chris O. Removed other placeholder slides.

[2017-07-13 16:29] austinMarcos commented on #38
The labs, pod v2.1, and the slides have all been updated to reflect the latest naming scheme of LM-nnnn.

[2017-07-13 16:29] #38 closed

[2017-07-13 16:30] austinMarcos commented on #10
Fixed with the re-image of pod v2.1.

[2017-07-13 16:30] #10 closed

[2017-07-17 18:35] austinMarcos commented on #4
Delivered to production on July 10.

[2017-07-17 18:35] #4 closed

[2017-07-20 15:30] austinMarcos commented on #8
The Docker container and instructions have been delivered.

[2017-07-20 15:31] #8 closed

[2017-07-20 15:32] austinMarcos commented on #41
Delivered as part of v2.1.

[2017-07-20 15:32] #41 closed

[2017-07-20 15:56] austinMarcos commented on #19
The folder structure in the code samples directory was modified, but the following lab needs to have the instructions and screenshots (of the command line) changed:

Also, verify that the changes appear in the DCI track:

https://learninglabs.cisco.com/tracks/devnet-express-dci/devnet-express-np-rest-python/04-rest-05-mission/step/1

[2017-07-20 15:58] austinMarcos commented on #9
Closed as a duplicate to:

[2017-07-20 15:58] #9 closed

[2017-07-20 16:12] austinMarcos commented on #15
This issue was not resolved with the rollout of pod v2.1.

- We still need to solve the problem. Take a look at whether to update APIC-EM, or re-assign the pod.
- Immediately:  Need to publish this as a known issue.

[2017-07-20 17:34] armartirosyan commented on #56
Slide 30 has been fixed.
https://cisco.box.com/s/apg2p3ghdbh6gmjym2p9oqawk0s7s8po

[2017-07-20 17:44] armartirosyan commented on #49
The slide has been updated with suggested line.
https://cisco.box.com/s/7pivwjublrfyadkm655fj78qcnvxv9g9

[2017-07-20 17:53] armartirosyan commented on #40
Current `helloworld.py` has been renamed to `helloworldsol.py`. New `helloworld.py` has been created with matching content

[2017-07-27 15:43] austinMarcos commented on #1
This template no longer necessary.

[2017-07-27 15:43] #1 closed

[2017-07-27 15:45] austinMarcos commented on #11
Closing issue due to aging. This issue was fixed and rolled out to production.

[2017-07-27 15:45] #11 closed

[2017-07-27 15:47] austinMarcos commented on #18
In order to maintain control of the labels within a specified group of people, I am going to leave the permissions as they are. If there are key people who need to be able to add labels, I will give them explicit permission.

[2017-07-27 15:47] #18 closed

[2017-07-27 15:50] austinMarcos commented on #25
The solution to improving the code quality is being addressed by an initiative led by Chris L and Marcos. See the repo:

[2017-07-27 15:50] #25 closed

[2017-07-27 16:25] austinMarcos commented on #53
Next step is to assess the state of this work. Then communicate to Chris, Iftach, and Ruth to identify whether this impacts preparation for events.

[2017-07-27 18:04] armartirosyan commented on #6
@securenetwrk - Looks like the code has been updated after this issues was created. Now, both python scripts don't have `message += "    * Packets In: %s \n" % (interface["statistics"]["in-pkts"]["#text"])`  and `message += "    * Packets Out: %s \n" % (interface["statistics"]["out-pkts"]["#text"])` lines.

After successfully running the code user sees below message

[code]

[2017-08-02 17:14] austinMarcos commented on #15
This issue was published as a **known issue** in the box folder where event hosts obtain their slide decks and release notes:
https://cisco.app.box.com/files/0/f/22509384263/v2.1-DNA-slides_and_release_notes

[2017-08-02 17:19] austinMarcos commented on #56
This issue has been fixed. See [https://cisco.app.box.com/files/0/f/22509384263/v2.1-DNA-slides_and_release_notes](release notes).

[2017-08-02 17:19] #56 closed

[2017-08-02 22:51] austinMarcos commented on #49
Verified the change in the slide. Released on 1-Aug-2017.

[2017-08-02 22:51] #49 closed

[2017-08-03 15:43] austinMarcos commented on #50
Published on 31-July-2017. Marcos verified.

[2017-08-03 15:43] #50 closed

[2017-08-03 15:44] austinMarcos commented on #48
Published on 31-July-2017. Marcos verified.

[2017-08-03 15:44] #48 closed

[2017-08-03 15:44] austinMarcos commented on #47
Published on 31-July-2017. Marcos verified.

[2017-08-03 15:44] #47 closed

[2017-08-03 15:44] austinMarcos commented on #46
Published on 31-July-2017. Marcos verified.

[2017-08-03 15:44] #46 closed

[2017-08-03 15:44] austinMarcos commented on #45
Published on 31-July-2017. Marcos verified.

[2017-08-03 15:44] #45 closed

[2017-08-03 15:44] austinMarcos commented on #40
Published on 31-July-2017. Marcos verified.

[2017-08-03 15:44] #40 closed

[2017-08-03 16:32] austinMarcos commented on #44
Gzby- I am looking again at this issue. I need to find a subject matter expert who can fix this. My goal is to resolve this by the end of August.

[2017-08-03 16:50] gzapodea commented on #44
Marcos, Last time I presented the lab in Denver, 07/11-12 I had 100 ports available. I just tested for a random port (8099) in the range 8000-81000 and the port is still open on the notification listener server

[2017-08-06 18:04] nschlutter opened #57 "Duplicate slides in LM-4402"
Slides 10 & 11 are duplicated on slides 17 & 18.

[2017-08-06 22:26] nschlutter opened #58 "Volkswagen is misspelled numerous times in the JSON examples"
In all of the JSON examples containing the German automaker Volkswagen it is spelled incorrectly a Volkswagon.

[2017-08-15 16:14] nschlutter opened #59 "LM-4002 dCloud Pod Topology Incorrect"
The topology graphic indicates that the Windows Workstation IP is 198.18.133.36. The IP address is actually 198.18.133.36. This is on slide 7 of the LM-4002 deck.

<img width="743" alt="screen shot 2017-08-15 at 11 08 58 am" src="https://user-images.githubusercontent.com/932716/29324769-ee3b549e-81aa-11e7-8db2-8d490f9759b2.png">

[2017-08-16 19:11] nschlutter opened #60 "LM-4602 Data Model vs. Data Format Slide hard to read JSON"
The slide titled "Data Format Slide hard to read JSON" in the LM-4602 is hard to read. The JSON content on the left side is incredibly hard to read. I reformatted it to black and it is much easier to read.
<img width="1261" alt="screen shot 2017-08-16 at 2 08 56 pm" src="https://user-images.githubusercontent.com/932716/29380843-d22413a8-828c-11e7-8796-c40191689074.png">

[2017-08-16 19:20] nschlutter opened #61 "Misleading comment in LM-4502 apic_em_mission.py"
The python script in LM-4502\04-mission\apic_em_mission.py contains a misleading on line 162

[code]

That comment line indicates that this request is a GET rather than a POST and also states that this fetches information for a network devices. This is actually a POST request that adds the APIC-EM topology information to a Spark Space.

[2017-08-17 17:21] #61 closed

[2017-08-17 19:00] armartirosyan commented on #59
Slide deck has been updated

https://cisco.box.com/s/5jpsgp4tsa7nexu0url5m4kkww4iq68h

[2017-08-17 19:42] austinMarcos commented on #59
@armartirosyan : I see the correction you made on the slide. Did you verify that IP address against the Pod?

[2017-08-17 20:05] armartirosyan commented on #59
I did. I reserved a pod and made sure the IP is correct
![image](https://user-images.githubusercontent.com/7140657/29431420-b91c6afc-834c-11e7-9f28-01d5198af24a.png)

[2017-08-31 06:45] austinMarcos commented on #57
Slides updated and pushed to Box folder for presenters.

[2017-08-31 06:45] #57 closed

[2017-08-31 06:47] austinMarcos commented on #53
Labs updated and published on production server. Slides updated and pushed to [Box folder](https://cisco.box.com/s/pdlqz2sozox4tb4d0bavgji62vnf31n5) for presenters.

[2017-08-31 06:49] austinMarcos commented on #59
Slides and labs updated. See latest slide in the [Box folder](https://cisco.box.com/s/pdlqz2sozox4tb4d0bavgji62vnf31n5) for presenters.

[2017-08-31 06:49] #59 closed

[2017-09-01 12:51] austinMarcos commented on #53
Fixed and delivered to Box folder.

[2017-09-01 12:51] #53 closed

[2017-09-01 12:51] austinMarcos commented on #6
Sample code fixed.

[2017-09-01 12:51] #6 closed

[2017-09-05 06:55] armartirosyan commented on #19
I removed all inconsistent folder structures and  replaced with agreed format. The changes have been pushed to `issue19` branch and have been published to stage LLs https://learninglabs.cisco.com:8867/tracks/devnet-express-dna.

If approved, I will issue pull request  and will merge it with `master` branch.

Thanks

[2017-09-22 15:53] austinMarcos opened #62 "HCI Mission has wrong sparkbot URL"
From the DevNet Tiger Team:

"The mission here is what Nilram and Adam are talking about:

https://learninglabs.cisco.com/tracks/devnet-express-dna/hci-with-next-spark/08-1-human-interaction-03-mission/step/2

"With some users, ngrok failed with a variety of different errors. some users ngrok seemed to run, but the tunnel never came up and the localhost:8080 connection didn't establish. and also,

[2017-09-22 16:49] armartirosyan commented on #62
@austinMarcos Can we ask Tiger Team to send us the error messages that appeared on the terminal screen so I can troubleshoot the problem.
I fixed the email address to `quotey@sparkbot.io`
Thanks

[2017-10-04 12:30] RuthCattell opened #63 "dCloud pod allocation slides to be added to DNA deck"
**Needed by Friday Oct 6.**

For the DNA events, the new Broker process for taking attendees through how to access their dCloud pods needs to be included within the [Verifying the Lab Environment slide deck](https://cisco.box.com/s/r86zknfhrwenx73e3e2e3gse2dr84z7t), with the old information removed.

Also, the old dCloud allocation process is also mentioned in the [Event Prep slide deck](https://c

[2017-10-10 16:10] austinMarcos commented on #63
Talked to Ruth. Will make these changes ASAP, and verify that the process agrees with info published on Jive:

[2017-10-23 10:10] RuthCattell commented on #63
Has this been done yet please?  2 DNA events this week: one starting today and the other tomorrow.  They need the slides.  Thanks.

[2017-11-20 21:35] annegentle opened #64 "Is the VPN test connection 10.10.10.104 in current dcloud?"
I'm working through https://learninglabs.cisco.com/tracks/devnet-express-dna/00-pre-event-preparation/00-prep-01-prep-before-you-go-mac-dcloud/step/3

I'm on my Mac, connected to the VPN using AnyConnect, `dcloud-rtp-anyconnect.cisco.com` with the user and password provided in the DNA sandbox.

When on the VPN and using my (proxy-disabled) browser to go to 10.10.10.104 it never connects.

When I d

[2017-11-21 20:07] annegentle commented on #58
I think this is spelled correctly in https://learninglabs.cisco.com/tracks/devnet-express-dna/intro-python-programming-devnet-express/00-prep-04-python-primer2/step/3 -- perhaps the Issue can be closed?

[2017-11-23 18:45] nschlutter commented on #58
It still appears to be spelled incorrectly in this text "cars={"sports":{"Volkswagon":"Porsche","Dodge":"Viper","Chevy":"Corvette"},"classic":{"Mercedes-Benz":"300SL","Toyota":"2000GT","Lincoln":"Continental"}}"

[2017-11-28 21:27] annegentle commented on #58
Got it, I'll pick these up and fix. @austinMarcos or @paulzim can you click Assign and assign me?

[2017-11-28 21:32] paulzim commented on #58
Hi Anne, I added you to the contributors but you have to accept the invite before I can assign you. Thanks!

[2017-11-29 17:56] annegentle commented on #64
In talking to Chris, this page can be deleted, it's misleading.

[2017-12-12 18:39] annegentle opened #65 "Overhaul of Programming Basics Primer content"
When delivering DevNet Express content, trainers have discovered a need to reset the foundation in Python, APIs and Data Formats written up in Learning Labs for delivery as Tracks (with Modules).

[2017-12-12 18:49] annegentle commented on #65
These are the two team's reports from content analysis so far:
Programming Fundamentals outline (from Hank's recent work at https://cisco.app.box.com/folder/34827797838):
Data Formats - Understanding and using JSON XML and YAML
APIs are Everywhere - What are they?
REST APIs Part 1 - HTTP is for more than web browsing
REST APIs Part 2 - Making REST API Calls with Postman
Python Part 1 Python Langua

[2017-12-12 18:52] annegentle commented on #65
These are the existing collection of tracks and modules today:

 Primer Content as it exists today:
[DNA Track](https://learninglabs.cisco.com/tracks/devnet-express-dna):
LM-4002: Event Preparation for DevNet Express for DNA v2.1
LM-1201: Intro To Python and Programming Basics for DevNet Express
LM-4402: REST APIs
[Cloud Collaboration Track](https://learninglabs.cisco.com/tracks/devnet-express-clo

[2017-12-12 20:57] annegentle commented on #65
This is a first-pass through the repos that would need to change to update labs. However, I'm not sure if editing those repos gives the deliverable we want, which is a new outline. Posting here for an idea of sizing.

_LM-1201_
Introduction to Git
Repo: https://github.com/CiscoDevNet/devnet-express-cloud-collab (private)

Python Primer Level 1
Repo: https://github.com/CiscoDevNet/devnet-express (p

[2017-12-12 21:35] annegentle commented on #65
Ok, one more set of input, the Dec 2017 NetAcad training event:
Day 1:
An introduction to APIs and APIC-EM
Making API calls in Postman
Introduction to Git
Introduction to coding in Python
Coding in Python for APIC-EM
Day 2:
Cisco Meraki Integrations
Cisco Spark Integrations
Cisco Network Programmability with NetConf/RESTConf
Cisco Security - Cisco Firepower Management Center platform and Cisco AMP

[2017-12-13 17:18] austinMarcos commented on #60
@jamesneimanconsulting s, can you please change the color to make the text more clear. The point of the slide is not to have students read the data. The actual data is inconsequential. The point of the slide is to show that a single data model can be expressed in multiple formats.  Just make the text more visible.

[2017-12-13 19:47] austinMarcos commented on #22
@jamesneimanconsulting
The modules are published here:
  - https://learninglabs.cisco.com/tracks/devnet-express-dna
For example, one of the lab IDs is:
  - 00-prep-01-prep-before-you-go-windows-dcloud
Sources for this can be found:
  - devnet-express-code-samples
  - Repo with lab content:<br>https://github.com/CiscoDevNet/devnet-express/tree/master/labs

[2017-12-13 19:55] austinMarcos commented on #21
@jamesneimanconsulting
The modules are published here:
  -  https://learninglabs.cisco.com/tracks/devnet-express-dna

For example, one of the lab IDs is:
   - 00-prep-01-prep-before-you-go-windows-dcloud

Sources for this can be found:
  -  devnet-express-code-samples

Repo with lab content:
  -  https://github.com/CiscoDevNet/devnet-express/tree/master/labs

[2017-12-14 20:33] annegentle commented on #65
In this revision:

Phase 1:
Set up basic naming conventions and folder conventions. BUT do not break others and keep the labs we have.
Anne - Go through Issues already reported and see if they are fixed in source and published in output.
Anne - Fix Issues in dna-express that are not fixed (that do not also break other labs using a specific desktop image, such as if folder structure is changed).
An

[2017-12-15 16:31] jamesneimanconsulting commented on #60
@austinMarcos Here is the revised slide:
[H.-.LM-4602.-.Device.Level.Interfaces.-.RESTCONF.NETCONF.and.YANG.pptx](https://github.com/CiscoDevNet/devnet-express-dna-issues/files/1563307/H.-.LM-4602.-.Device.Level.Interfaces.-.RESTCONF.NETCONF.and.YANG.pptx)

[2017-12-20 04:12] annegentle commented on #65
@austinMarcos Would love your input on these comparisons as you coordinate the collaboration. Let us know your thoughts.

[2017-12-22 22:23] #60 closed

[2017-12-22 22:42] jamesneimanconsulting commented on #22
@austinMarcos I've checked all the files into git. There are quite a few so not sure whether we need  to run production on each of the labs. For the record, here is what changed in git:
	modified:   labs/00-prep-01-prep-before-you-go-linux-dcloud/2.md
	modified:   labs/00-prep-01-prep-before-you-go-linux-host/1.md
	modified:   labs/00-prep-01-prep-before-you-go-mac-dcloud/2.md
	modified:   labs/00

[2017-12-22 22:43] jamesneimanconsulting commented on #21
@austinMarcos I've checked all the files into git. There are quite a few so not sure whether we need to run production on each of the labs. For the record, here is what changed in git:
modified: labs/00-prep-01-prep-before-you-go-linux-dcloud/2.md
modified: labs/00-prep-01-prep-before-you-go-linux-host/1.md
modified: labs/00-prep-01-prep-before-you-go-mac-dcloud/2.md
modified: labs/00-prep-01-prep

[2018-01-02 19:44] annegentle commented on #65
Outline for revisions for review by @hpreston, @aroach, @cmlccie.

What gets removed from the module:
* Introduction to Git
* All Pre-Event Preparation labs

What gets added:
Make all examples more network-centric.

Outline:

1. Data Formats - Understanding and using JSON XML and YAML
2. APIs are Everywhere - What are they?
3. REST APIs Part 1 - HTTP is for more than web browsing
4. REST APIs Part

[2018-01-02 20:52] cmlccie commented on #65
My feedback:

**Order:**  (I would recommend the following grouping and ordering of the content.)
1. Python Part 1 - A Basic Python Development Environment
  1. Bash
  1. Python Interpreter
  1. IDLE
  1. Script Basics
  1. Working with Libraries
  1. Virtual Environments
1. Python Part 2 - Python Language
  1. Basic Data Types
  1. Variables
  1. Operations
  1. Conditionals
1. Python Part 3
  1.

[2018-01-02 21:02] annegentle commented on #65
Thanks @cmlccie -- I'm revising with more detail about module and lab levels as well and will incorporate in the comment above.

[2018-01-03 22:06] annegentle commented on #65
Summary proposal:

## 1. Revise Intro to Git - Chris and Anne
*Repo*: https://github.com/CiscoDevNet/devnet-express-cloud-collab (private)
Step1: Intro to Git
Step2: Getting Source Code Files with git clone
Step3: Updating a Local Repository with git pull (@cmlccie to revise for workflow with git clone, git checkout, git pull, git commit, and so on, addressing issues from https://ahorribleprogramm

[2018-02-07 20:49] annegentle commented on #65
Status update:
* Update to Python Primer I completed in [intro-to-programming](https://github.com/CiscoDevNet/intro-to-programming/tree/master/labs/intro-to-python-primer-1).
* New Intro to REST API completed in new [repo](https://github.com/CiscoDevNet/rest-api-learning-labs).

[2018-02-09 15:32] denapom11 opened #66 "Meraki Module - demoPOD still doesn't have all the necessary tools installed"
ngrok and nodeJS should be installed to successfully run labs 3, 4,5

[2018-02-09 15:33] denapom11 commented on #66
dcloud POD windows and linux master images have been updated but not propagated.  Following up.

[2018-02-09 15:35] denapom11 opened #67 "Meraki Module - Excap lab needs to be updated for python"
Existing lab is in NodeJS,  a departure from the rest of the DNE DNA modules that are in python

[2018-02-09 15:52] denapom11 opened #68 "Meraki module - location lab needs clients to generate location data"
Sandbox lab doesn't always have location clients so we need either a simulator or a consistent set of clients to feed the location data.

[2018-02-09 15:57] denapom11 opened #69 "Meraki Module - mission instructions are too vague"
need to update mission instructions to allow for easier completion

[2018-02-14 14:07] annegentle commented on #58
Fixed.

[2018-02-14 14:08] annegentle commented on #21
Should we consider this fixed?

[2018-02-14 14:09] annegentle commented on #19
@austinMarcos Can this issue be closed?

[2018-02-14 14:10] annegentle commented on #2
@austinMarcos Can this issue be closed or is it waiting on the dCloud pod image update?

[2018-02-14 14:47] cmlccie commented on #19
I do believe they implemented the changes...  Though the directory structure is less than optimal.  Participants have to move in and out of their code folder (or use relative or absolute path references) to work with their virtual environments.  As part of the primer and track re-working, I would recommend the following structure.  From seeing the use at the events (and general Python best practic

[2018-02-14 14:54] annegentle commented on #19
Geez, yes, I hadn't realized it wasn't already this way. Agreed. We'll see what we can do in the next release set.

[2018-02-22 18:15] austinMarcos opened #70 "New DNAC labs need to use updated terminology"
The DNAC lab re-used instruction that were in the APIC-EM lab. According to John Perry, the BU updated the API.

The learning lab currently explains that a user must obtain a "Service Ticket.  "Authorization token" should replace the term "Service ticket".

[2018-02-25 10:31] aradford123 commented on #70
Yes.  The learning lab has the correct terminology.

From: Marcos Campos <notifications@github.com<mailto:notifications@github.com>>
Reply-To: CiscoDevNet/devnet-express-dna-issues <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, 23 February 2018 at 5:15 am
To: CiscoDevNet/devnet-express-dna-issues <devnet-express-dna-issues@noreply.github.com<mailto:devnet-express-dna-issues@

[2018-02-26 20:47] annegentle commented on #19
@cmlccie I'm not entirely sure how to make these changes. Are these changes in dCloud images?

[2018-03-06 22:40] knightjoel commented on #5
Gentle reminder on this one: still an issue in v2.1 of the slides.

[2018-03-06 22:47] knightjoel opened #71 "LM-1201: ctrl+z to quit"
In the v2.1 slides for LM-1201 (Intro to Python), slide 13, the instructions for exiting Python suggest using "Ctrl Z". That keystroke doesn't exit Python, it only suspends it into the background which can lead to confusion for students as to why they end up with multiple Python processes running in the background.

The correct keystroke should be "Ctrl D". This actually exits Python.

[code]

[co

[2018-03-06 22:57] knightjoel opened #72 "Presenter decks: broken social icons"
Hi.

Looking through the v2.1 presenter decks, I see that on two of the very last slides, it looks like there should be some icons for social networks (LinkedIn, Twitter, Github). Those icons are showing up as "?" question marks when I view the slides in PowerPoint and also in Box.com's HTML interface.

My system:
- OS X 10.13.3
- MS Office 2016 (16.10)

I imagine this is probably related to somet

[2018-03-06 22:58] knightjoel commented on #72
On a suggestion from @cmlccie I did install Fontawesome but did not notice any change after closing/opening PowerPoint. Tried FA v5 and v4.

[2018-03-07 01:49] annegentle commented on #5
Hi, thanks for circling back - I got the template Twitter handle fixed, @cmlccie let me know if I should check other published slide decks as well. Thanks!

[2018-03-07 20:30] annegentle commented on #72
I see the same in the template, and I'm on the same system as you, though my PowerPoint is version 16.9 (and the updater didn't say I could get another version). I also tried to install Font Awesome and no luck. I tried the techniques listed in https://github.com/FortAwesome/Font-Awesome/issues/7205#issuecomment-131164500 and still no luck. Is a good way forward is to use images? This seems to be

[2018-03-07 21:29] knightjoel commented on #72
I was talking with Ruth Cattell in Spark, letting her know I had created this issue, and she mentioned that she thought everything should be using Arial. She also said she would attempt to find time today/tomorrow to investigate.

[2018-03-07 21:33] knightjoel commented on #5
Thanks @annegentle!

We have an event coming up near the end of March. Do we need to wait for a new release of the decks? or can we get updated copies somehow from you in time for the event?

[2018-03-08 12:02] RuthCattell commented on #72
Can you see the icons now in this version: https://cisco.box.com/s/5f1r9n7kqk38qpp3tmj5pqys8indhqw4
If so, I'll replace that page on the other decks and also add the logos to the DevNet | DevNetExpress slide too.  I think they weren't showing because of they way they'd been inserted (ie copied and pasted as opposed to inserted).

[2018-03-08 15:41] annegentle commented on #72
Great, thanks Ruth! Screenshot:
<img width="746" alt="screen shot 2018-03-08 at 9 35 12 am" src="https://user-images.githubusercontent.com/501981/37159684-103990ec-22b4-11e8-8493-37c05d206467.png">
I went ahead and changed the master slides as well, there were four slides where these icons are needed.

[2018-03-08 15:43] RuthCattell commented on #72
Thanks @annegentle.  The template isn't used by the SEs - it's just there for my benefit.  So, I need to go in and change the master on all of the slide decks.  The SEs just copy them over to their folder, personalise them, and use them.  Will do this by end of tomorrow (using the slides you updated in the template).

[2018-03-08 15:58] RuthCattell commented on #72
@annegentle I now see what you mean: you've updated the other 3 slides in that deck.  Great - thanks!  I'll go and update the other slide decks now.  Thank you.

[2018-03-08 20:48] annegentle commented on #65
Closing issue as the reviews are ongoing in email and in preparation for the content sprint.

[2018-03-08 20:48] #65 closed

[2018-03-08 21:02] knightjoel commented on #72
thanks @annegentle!

[2018-03-09 16:09] RuthCattell commented on #72
@knightjoel - I've updated all 11 slide decks with the 3 icons on the appropriate slides. @annegentle

[2018-03-14 16:30] annegentle commented on #72
Thanks, closing Issue.

[2018-03-14 16:30] #72 closed

[2018-03-14 16:34] annegentle commented on #71
Hoping @austinMarcos can take a look while he's updating these slides.

[2018-03-14 16:40] annegentle commented on #64
@cmlccie Here's the PR: https://github.com/CiscoDevNet/devnet-express/pull/114

[2018-03-14 22:27] knightjoel commented on #5
Hi @annegentle, just noticed that slide 44 in the deck for session 4502 still says '@devnet'. Also on that slide the social media icons are present but they don't hyperlink anywhere and don't have the handles/URLs beside them for devnet either.

[2018-06-13 18:18] swiatecki opened #73 "Verify lab, Slide 10: Duplicate image, should include windows instructions"
In the verify lab PPT, slide 10. Duplicate image. One image should show the instructions for windows (as written in the slide notes)

[2018-06-15 16:28] rbochciscocom opened #74 "Missing "pip install xmltodict" for NetConf module"
When attendee follows "environment setup" instructions and then go to "Exploring IOS XE YANG Data Models with NETCONF" and reach the module "Step 3: Walking through automating your network with NETCONF", he is receiving the error, basically saying that "xmltodict is not available to import". So we should state somewhere withit this step (https://learninglabs.cisco.com/tracks/dnav3-track/dnav3-intr

[2018-06-15 17:20] annegentle commented on #74
We'll fix it in the code repo, with the `requirements.txt` file. See https://github.com/CiscoDevNet/dnav3-code/pull/24

[2018-06-20 22:04] hpreston commented on #74
I've merged this in.

[2018-06-20 22:04] #74 closed

[2018-07-13 14:12] darktech666 opened #75 "DNA Center lab"
Some feedback on the DNA Center lab section.
The mission is not appropriate for DNAC. DNAC is already providing a tool for topology, and doing a lab that you have to code and use another tool to create a topology can be misleading for customers who are new to DNAC. It can leave them the impression it's complicate to use the platform and you have to "script" to achieve result like this. We need to

[2018-08-02 15:20] #42 closed

[2018-08-09 08:03] rapellos opened #76 "Hands on lab part2"
I noticed that in the sample solution to **Part 2 hands-Ob lab**,  _fortune-cookies.py_, the "raise NotImplementedError" was omitted. I have included it in mine inside a try - except loop. Is this fine and legal? I have no errors when I run the code. Thanks
_try:
        return ("Your lucky number(s): {} \nYour fortune: {}\n\n" .format(number, fortune))
except:
        raise NotImplementedError()_

[2018-08-14 16:14] RuthCattell opened #77 "Track description is inconsistent with DevNet Express track descriptions"
Please change to make it clear that this is a DNE and therefore the modules are to be consumed at a DevNet Express.  Change to read:

This track contains the modules and labs taught at a DevNet Express event: where you listen, learn, and then put your new knowledge into practice. Learn about automation, operational scripting, DevOps integration points, and app development on top of your DNA networ

[2018-08-14 16:17] RuthCattell opened #78 "https://learninglabs.cisco.com/tracks/dnav3-track#dev-setup"
The Linux Workstation description is the same as the Mac one.

[2018-08-14 16:42] annegentle commented on #77
Done - see https://learninglabs.cisco.com/tracks/dnav3-track

[2018-08-14 17:06] #77 closed

[2018-08-14 17:25] annegentle commented on #78
JSON file updated - next will have to republish.

[2018-08-14 18:15] RuthCattell opened #79 "remove 'beta' references from https://learninglabs.cisco.com/tracks/devnet-express-dna"
Remove 'beta' from the individual modules and overall track description.

[2018-08-15 22:14] annegentle commented on #79
Do you mean that the staging link should not be marked beta? Or do you mean the production link should not be marked beta?

[2018-08-16 13:39] RuthCattell commented on #79
There should be no reference to 'beta' on the production site.

[2018-08-16 13:47] annegentle commented on #79
Ok, updated the title to remove the port value for staging.

[2018-08-16 13:48] annegentle commented on #79
Cleared "beta" on production - closing.Thanks for reporting!

[2018-08-16 13:48] #79 closed

[2018-11-01 12:41] swiatecki opened #80 "Code example is wrong"
On page https://learninglabs.cisco.com/tracks/dnav3-track/dnav3-intro-dnac/dnav3-dnac-nbapi-hello-world/step/6

Under **Complete Python script**.

The line `if name == "main":` should be `if __name__ == "__main__":`

[2018-12-03 22:58] tnothnag opened #81 "Missing expected and sample output in instructions."
Hi team,

there are some 'expected' and 'sample' output missing on this page.
https://learninglabs.cisco.com/tracks/dnav3-track/intro-ansible-iosxe/ansible-ios-modules/step/2
![image](https://user-images.githubusercontent.com/29453904/49406906-29c82c80-f757-11e8-8e29-a4628c381c97.png)

[2018-12-03 23:19] tnothnag opened #82 "Typo in question - Ansible IOS native modules"
Hi team,

https://learninglabs.cisco.com/tracks/dnav3-track/intro-ansible-iosxe/ansible-ios-modules/step/4

The question is:  Can you identify which module was used to configure NTP on the server?

IMO, the question should be: Can you identify which module was used to configure the Loopback interfaces on the routers?

![image](https://user-images.githubusercontent.com/29453904/49407765-faff8580-f7

[2018-12-03 23:22] annegentle commented on #81
HI, can you let us know the browser, version, and operating system you see this on? You should see a small triangle next to "Expected" like the screenshot below. Most browsers support it but we'll have to see what is different about your browser.

<img width="956" alt="screen shot 2018-12-03 at 5 21 01 pm" src="https://user-images.githubusercontent.com/501981/49407929-f1592c00-f71f-11e8-8290-285de

[2018-12-03 23:31] tnothnag commented on #81
Hi,

I am on Firefox 63.03 and on Mac OSx 10.13.6.

Indeed! If I click on ‘expected output’, I can see it. The mouse pointer does not indicate that there is something hidden (in case that is intended).

Regards,
Tim

From: Anne Gentle <notifications@github.com>
Reply-To: CiscoDevNet/devnet-express-dna-issues <reply@reply.github.com>
Date: Tuesday, 4 December 2018 at 00:22
To: CiscoDevNet/devnet-ex

[2018-12-03 23:35] tnothnag commented on #81
Just FYI: With Safari 12.0.1 I can see the small triangle next to ‘Expected’.

Regards,

Tim

[2018-12-12 20:01] securenetwrk commented on #12
This is no longer applicable.

[2018-12-12 20:01] #12 closed

[2019-02-20 20:44] annegentle commented on #78
Fixed and published.

[2019-02-20 20:44] #78 closed

[2019-03-15 13:54] hpreston commented on #82
Closing Issue as the merge was published.

[2019-03-15 13:54] #82 closed

[2019-03-21 20:33] klevenstein commented on #63
Closing this as it's nearly 18 months old and the events are long past; reopen if needed.

[2019-03-21 20:33] #63 closed

[2019-04-04 08:57] ObjectIsAdvantag commented on #52
I beleive this is something we arbitrated not to provide.
assigning to @annegentle to confirm and close issue

[2019-04-10 22:33] annegentle commented on #5
I've done a bunch of sampling and can't find any slides left with the wrong Twitter handle, so I'm closing this issue. Feel free to re-open if you find one to be fixed.

[2019-04-10 22:33] #5 closed

[2019-04-10 23:01] annegentle commented on #23
I think we can consider this resolved with the various revisions we have in place now.

[2019-04-10 23:01] #23 closed

[2019-04-10 23:04] annegentle commented on #64
We've taken care of this in subsequent publishing of the Labs.

[2019-04-10 23:04] #64 closed

[2019-04-12 19:18] annegentle commented on #66
This is no longer the case. Closing.

[2019-04-12 19:18] #66 closed

[2019-04-12 19:19] annegentle commented on #68
This is completed with a simulator. Closing.

[2019-04-12 19:19] #68 closed

[2019-04-12 19:19] annegentle commented on #69
This is completed.

[2019-04-12 19:19] #69 closed

[2019-04-12 19:20] annegentle commented on #67
Done, closing.

[2019-04-12 19:20] #67 closed

[2019-05-06 13:20] annegentle commented on #51
This has been fixed with the revised dnav3 track.

[2019-05-06 13:20] #51 closed

[2019-05-06 19:18] annegentle commented on #19
This has been resolved in the DNAv3 work.

[2019-05-06 19:18] #19 closed

[2019-05-06 19:19] annegentle commented on #21
These Labs have been re-written for the DNAv3 track.

[2019-05-06 19:19] #21 closed

[2019-05-06 19:19] annegentle commented on #22
This has been done in the DNAv3 rewrite.

[2019-05-06 19:19] #22 closed

[2019-05-23 13:42] stgreenb opened #84 "dnav3-track/rest-api-fundamentals - Postman UI changes"
There are some changes to Postman UI in newest versions. The one thing that stood out to a participant today was how you set up environment variables. They used to be "key" and "values", and now they "variable" and "initial (or current) values". Not hard to figure out, but the student thought they were in the wrong spot.
![image](https://user-images.githubusercontent.com/18483964/58257423-e41c1200

[2019-05-23 18:15] stgreenb opened #85 "dnav3-intro-restconf/step/3 - password & profile combination confusion"
Users doing this lab as part of devNet express are confused with which profile to use to login and test RestConf. They see the "RESTCONF" profile and assume that's the one they should use (even though it also says sandbox). But it points to localhost as the IP. Others assume they should be using the Devnet express CSR1 (or 2). But then the encoded username and password by default is wrong. For tho

[2019-05-23 18:21] stgreenb commented on #85
Actually in that CSR profile, the username and password are correct, but it looks like there is a hard coded base64 encoded item, so its not pulling in from the profile.

[2019-06-06 18:43] RuthCattell opened #86 "Ansible module has inconsistent code"
Ansible is running on version 2.4 on the POD VMs and the scripts expect at least version 2.5
all students had to update do follow lab instructions.  This was feedback from a recent event.

[2019-06-06 18:44] RuthCattell opened #87 "Meraki module feedback re access token"
IFeedback from a recent event: in the env_user.py file you need to change it from WT_ACCESS_TOKEN to SPARK_ACCESS_TOKEN

[2019-06-17 15:39] vpralhad opened #88 "dnav3-intro-dnac/dnav3-dnac-api-overview/step/3&6-Invalid content"
Below issue was observed during Toronto Devnet Express (May22-24, 2019) -

Introduction to Cisco DNA Center Programmability has couple slide deck that talks about northbound APIs. Upon checking with the BU, its not valid and I had to remove and modify the content.

Current content talks about Network and business apps in step 3 as whole and step 6 talks specifically around north bound APIs (Cisco

[2019-06-17 15:49] RuthCattell commented on #88
This needs to be fixed urgently as it affects all DNE for DNA events.

[2019-06-18 03:52] vpralhad opened #89 "dnav3-verify/dnav3-verify/step/7"
When the verify.py is run, some of the users get error that leads to file verify/env_lab.py line 97 (NFVIS_SERVER). We were not really able to solve the issue and realized the error occurred cause of the indentation from line 97 to 100. When the indentation was removed and added, the issue was fixed.

[2019-06-18 17:34] klevenstein commented on #88
Slide deck updated; please verify that fixes are correct:
https://cisco.box.com/s/itaw95mnoik45ypu21cq8qsmifbwn89c
I haven't removed the January 10 version of the deck.

Also while I was in there, I updated the links and screenshots from `https://developer.webex.com/getting_started.html` to `https://developer.webex.com/docs/api/getting-started` in the Intro-to-REST-APIs and DNE-DNA-v3-welcome deck

[2019-06-19 02:49] vpralhad commented on #88
Hi Karin, looks like I dont have access to this file-->https://cisco.box.com/s/itaw95mnoik45ypu21cq8qsmifbwn89c

[2019-06-19 02:51] vpralhad commented on #88
Hi Karin, looks like I dont have access to this file-->https://cisco.box.com/s/itaw95mnoik45ypu21cq8qsmifbwn89c

[2019-06-19 08:32] RuthCattell commented on #88
Thanks.  Are you able to update all instances of https://developer.webex.com/docs/api/getting-started?
The faulty link is in the REST API slide deck for each track (CC, Security, DNA and DCI), and also the Welcome slide deck for each track.  It's OK for you to just update the deck live.  Thanks.

[2019-06-19 08:34] RuthCattell commented on #88
@vpralhad - it's OK.  We're updating the links.  You'll just see the result of the updates.

[2019-06-19 13:34] klevenstein commented on #88
@RuthCattell I think I've gotten all the getting started links for all the DNEs, so we should be good.

[2019-06-24 18:42] annegentle commented on #62
This Lab is no longer in use. Closing.

[2019-06-24 18:42] #62 closed

[2019-06-24 18:50] annegentle commented on #2
These code examples are now archived, closing.

[2019-06-24 18:50] #2 closed

[2019-07-09 15:59] juanda2 opened #90 "Guacamole times out or user loses internet , when coming back guacamole creates a clone of user 'developer'"
Some users might lose connectivity to guacamole, when coming back, they aren't shown their initial enviornment but a clone of the environment. Some apps are tied to the original environment (i.e: postman, chrome) so they won't open in this new environment.

We tried killing processes one by one but nothing worked, the only command that worked was
 pkill -KILL -u developer
which is issued from SSH,

[2019-07-09 17:38] juanda2 commented on #89
happened to us with a user but it turns out the user hadn't actually saved the file after changing line 36 from "sandbox" to "express", so the script was reading the original file.

[2019-07-09 17:41] juanda2 opened #91 "cmx-03-notifications-python"
When issuing the docker-compose up command, the following error is thrown:

[developer@centos ~]$ cd dnav3-code/intro-cmx/cmx-03-notifications-python/docker-compose up
bash: cd: dnav3-code/intro-cmx/cmx-03-notifications-python/docker-compose: No such file or directory
[developer@centos ~]$ cd dnav3-code/intro-cmx/cmx-03-notifications-python
[developer@centos cmx-03-notifications-python]$ docker-co

[2019-07-11 18:45] klevenstein commented on #88
@RuthCattell let me know if there's anything I missed.

[2019-07-12 21:32] annegentle commented on #52
Yes, no provision for PDF or printable copies of Learning Labs. Closing issue, thanks for mentioning it.

[2019-07-12 21:32] #52 closed

[2019-07-12 21:37] annegentle commented on #84
Fixed in source and published; closing.

[2019-07-12 21:37] #84 closed, assigned to annegentle

[2019-09-22 17:23] vishalpatil86 opened #92 "dnav3-track/dev-setup/dev-centos/step/7 - unable to connect to vpn server with openconnect"
after installing openvpn, trying to connect to vpn server using below command -

**sudo openconnect -b _vpnserver_**

Getting following error -
**only http or socks(5) proxies supported**

[2019-11-04 05:52] cmlccie opened #93 "verify/verify.py script fails with localized ping output"
The scripts called by `verify/verify.py` include PING checks that depend on the output of the system PING command.  This is error-prone.  For example, if the participant's terminal is localized to Chinese (Mandarin), the verification script incorrectly reports that the pings have failed due to the fact that the output strings do not match the expected (codified strings).

Example `iosxe_tests.txt`

[2019-11-04 06:16] cmlccie opened #94 "verify/verify.py script fails on Windows"
***Example:*** See the [ping reference in iosxe.py](https://github.com/CiscoDevNet/dnav3-code/blob/master/verify/backend/iosxe.py#L71).

Ping syntax varies by OS platform: `ping -c 2` on Linux should be `ping -n 2` on Windows.

This causes the pings to "fail" on Windows when they otherwise should succeed.

[2019-11-06 19:12] fracaen opened #95 "dnav3-track/dev-setup/dev-mac/step/2 brew cask step not needed?"
$  brew tap caskroom/cask
Error: caskroom/cask was moved. Tap homebrew/cask-cask instead.

Quick googling seems to indicate that cask is now built into brew, and that this step is no longer required. I haven't confirmed that independently on a fresh brew install.

[2019-11-14 23:08] trsingle opened #96 "devnet-express/dnav3-track/dnav3-intro-mdp/dnav3-intro-restconf/step/3"
participants found that the environment variable values for "DevNet Sandbox RESTCONF Always On" was empty after importing collections and enviroment .json files from /code/dnav3-code/postman.

Please add clarity to lab 3, informing the participants to import and overwrite the "DevNet Sandbox RESTCONF Always On" environment from /code/dnav3-code/intro-mdp/postman as this has the requisite values po

[2020-01-13 03:30] vpralhad opened #97 "https://developer.cisco.com/learning/devnet-express/dnav3-track/dnav3-intro-mdp/dnav3-why-mdp/step/7 - invalid URLs"
Hi Team, in above step, the links (URLs) under Cisco Live Presentations are not valid.

Cisco Live Presentations (URLs not valid) -

    Device APIs: The Force Awakens - BRKSDN-1119
    Model Driven Approach to SDN with NETCONF - BRKSDN-1903
    YANG Data Modeling and NETFCONF: Cisco and Industry Developments - BRKNMS- 2032
    Network programming using Yang service models with Cisco Network Servi

[2020-01-13 03:49] vpralhad commented on #88
Hi @klevenstein , do you have an ETA to modify this? We have an event coming up in couple days.

[2020-01-13 14:38] klevenstein commented on #88
I completed the changes on this back in June. The file is here:
https://cisco.box.com/s/itaw95mnoik45ypu21cq8qsmifbwn89c

@RuthCattell is there anything else that I need to do on this? It's been a while and I don't remember all the details.

[2020-01-13 14:45] #97 closed, assigned to klevenstein

[2020-01-13 18:24] vpralhad commented on #88
hi @RuthCattell, who can we contact to update it on the website?

[2020-01-13 19:06] RuthCattell commented on #88
@vpralhad - can you confirm what needs to be updated please?  The slides were updated in June and the link pointed to by @klevenstein is the correct, updated slide deck which is shared with 'all Cisco employees'.  Does the Learning Track itself need to be updated?  Sorry for the vagueness - I too can't quite remember where we were with this.

[2020-01-14 03:01] vpralhad commented on #88
@RuthCattell , yes the website is still reflecting invalid content.

[2020-01-15 21:22] vpralhad commented on #85
@klevenstein , any update on this issue. We still have this problem. The JSON env file needs to be modified to replace current authorization with admin:C1sco12345

[2020-01-15 21:48] klevenstein commented on #85
I think we've resolved it; please reopen this issue if it's still a problem.

[2020-01-15 21:48] #85 closed, assigned to nobody

[2020-01-23 09:41] ikakonyi69 opened #98 "Ansible 2.9.4 does not work, DNE code must be run on Ansible 2.5.4"
Hi,

We have delivered  DevNet Express training. Everything worked fine, except IOS-XE config management with Ansible. It worked perfectly during the dry runs, but not during the real event. I realized that Ansible version (what PIP installs) was upgraded from 2.5.4 to 2.9.4.

In summary, dry run worked fine with 2.5.4,  but it failed with 2.9.4.

[DevNetNotes_Ansible.zip](https://github.com/Cisco

[2020-03-01 02:32] ianhawki opened #99 "Ubuntu Setup Guide for DNAv3 has incorrect command"
Step 5 for setup of Ubuntu has an incorrect command

https://developer.cisco.com/learning/devnet-express/dnav3-track/dev-setup/dev-ubuntu/step/5

Under Node Installation, part 2 has "sudo install npm" should be "sudo **apt** install npm"

[2020-03-01 18:10] #99 closed, assigned to annegentle

[2020-03-02 21:40] klevenstein commented on #92
Hi @kiskander: this is an older issue, but I wanted to make sure it got addressed in the updates for the DNA v4 DNE. Thanks.

[2020-03-02 21:46] klevenstein commented on #80
Check to make sure this is addressed in DNA DNE v4

[2020-03-04 19:42] #17 closed

[2020-03-11 15:20] #39 closed

[2020-03-31 15:58] klevenstein commented on #91
CMX removed from the the DNA Center DNE v4; closing.

[2020-03-31 15:58] #91 closed, assigned to nobody

[2020-03-31 15:59] klevenstein commented on #80
fixed in DNAC DNE v4, closing

[2020-03-31 15:59] #80 closed

[2020-03-31 16:00] #15 closed

[2020-03-31 16:02] klevenstein commented on #87
@metahertz can you verify if this has been fixed?

[2020-03-31 17:51] metahertz commented on #87
@klevenstein Think you may be looking for another DA :)

[2020-03-31 17:58] klevenstein commented on #87
Sure was. Paging @denapom11? :)

[2020-04-07 15:54] #81 closed

[2020-04-07 15:54] klevenstein commented on #75
The DNA Center lab has been revised and updated - closing.

[2020-04-07 15:54] #75 closed

[2020-04-07 15:55] klevenstein commented on #20
PRs closed.

[2020-04-07 15:55] #20 closed

[2020-04-07 15:56] klevenstein commented on #44
CMX lab has been removed from the DNA Center DNE - closing.

[2020-04-07 15:56] #44 closed

[2020-04-08 17:13] klevenstein commented on #24
Labs and the code for them have evolved significantly in the last three (!) years since this was touched last; closing.

[2020-04-08 17:13] #24 closed

[2020-04-09 12:55] juanda2 opened #100 "Python 2 is Sunset, its installation should be removed from the Content Guide"
Hello DevNet,

on https://developer.cisco.com/learning/devnet-express/dnav4-track/dev-setup/dev-win/step/5 the guide asks to install python 2 with this reason:
"many scripts and programs were written in Python 2 and have yet to be upgraded"

however, Python 2 has been officially sunset and the Python 2 / 3 confusion is creating more problems for our DevNet Express students than it is solving. They

[2020-04-09 13:10] klevenstein commented on #100
Hi David - we're working out how to best address the Python 2 issue and should have something soon. Thanks!

[2020-04-09 20:18] makarthi commented on #100
HI Team, I am not able to get pip install -r requirements.txt to work? It is failing on Cisco Spark API.
Can somebody help?

[2020-04-09 20:20] makarthi opened #101 "Using the CentOS workstation in dcloud/Devnet Express, pip install -r requirements.txt fails !"
HI Team,

Pip install -r requirements.txt is failing on a fresh CentOS from dcloud/Devnet.

It is failing on CiscoSPARKAPI... Can somebody look asap.

Mak

[2020-04-09 20:26] kiskander commented on #101
Hey Mak,
what's the error you are getting?

[2020-04-09 20:30] annegentle commented on #100
Hi, you want to update the requirements.txt file to have
webexteamssdk
instead of

ciscosparkapi

Edit the file, save it, then re-run `pip install -r requirements.txt`. Let us know if that works.

You can see more about the library at:
https://github.com/CiscoDevNet/webexteamssdk

[2020-04-09 20:45] makarthi commented on #101
HI Kiskander
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

I hashed out CiscoSPARKAPI, but problem remains with ncclient. Looks like a version issue?

[2020-04-09 20:47] makarthi commented on #101
DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support
Defaulting to user installation because normal site-packages is no

[2020-04-09 20:50] annegentle commented on #101
Hi, I believe `ncclient` has several requirements prior to the `requirements.txt` step.

What system are you trying this on?

From https://pypi.org/project/ncclient/, these are the additional requirements:

Python 2.7 or Python 3.4+
setuptools 0.6+
Paramiko 1.7+
lxml 3.3.0+
libxml2
libxslt

[2020-04-09 20:57] makarthi commented on #101
[developer@centos dnav3-code]$ more requirements.txt
# ciscosparkapi==0.9.2
ncclient==0.6.0
netmiko==1.4.2
pyang==1.7.4
requests==2.20.0
urllib3==1.24.2
xmltodict==0.11.0
ansible==2.5.4

[2020-04-09 20:58] makarthi commented on #101
is my requirements.txt  wrong then?

[2020-04-09 20:59] makarthi commented on #101
I am just using the CentOS that comes with default on the dcloud devnet exptress (DNAv3) pods. Prepping for a Devnet express event and trying to commands in sequence as per the learning module.

[2020-04-09 21:12] annegentle commented on #101
I'm glad you're testing.

The "Requirements" for `ncclient` are typically installed using yum- (or apt-) based package managers as I understand it. So in the case of the dcloud CentOS installation, you should be able to follow the instructions as written.  Can you find out the underlying CentOS packages with `yum list installed`?

[2020-04-09 21:18] makarthi commented on #101
Thanks Anne, Thanks Kiskander. Let me try with a fresh dcloud instance. Maybe I have a dud.

[2020-04-09 22:09] denapom11 commented on #101
Hey Mak,

Is this error occuring inside a python virtual environment setup for python 3.x?  Error looks like the problem is happening on install of 2.7 which none of the code for DNA is written for.  If not can you try?

[2020-04-09 22:13] makarthi commented on #101
ah okay, Let me try that. Thanks Denapom11
Possible I might have deactivated the venv while trying this.

[2020-04-09 22:49] makarthi commented on #101
It works guys... I did a new dcloud instance. And this time I ensure I am in an activated virtual environment. Suspect it was my mistake before, may not have been in an activated virtual instance.

Thanks Anne, Kiskander, Matthew DeNapoli !

[2020-04-09 22:55] kiskander commented on #101
curious, what happens if you do pip3 install -r requirements.txt ?

[2020-04-09 23:09] makarthi commented on #101
pip3 is not there... getting an error like this (Manual typing below)

bash:pip3: command not found

[2020-04-10 14:14] klevenstein commented on #95
Fixed, closing

[2020-04-10 14:14] #95 closed, assigned to klevenstein

[2020-04-10 14:21] klevenstein commented on #71
Fixed in the latest revision of the DNE; closing

[2020-04-10 14:21] #71 closed

[2020-04-10 14:26] klevenstein commented on #73
Fixed; closing. Sorry we let this one sit for so long!

[2020-04-10 14:26] #73 closed

[2020-04-10 15:12] klevenstein commented on #89
Hi @vpralhad and @juanda2  - sorry about taking so long to address this. Can you review the current script at https://github.com/CiscoDevNet/dnav3-code/blob/master/env_lab.py and let me know what changes still need to be made? Thanks.

[2020-04-10 16:36] juanda2 commented on #89
looks good!

[2020-04-12 17:26] vpralhad commented on #89
Hi @klevenstein , looks good to me as well. Please keep this issue open until the end of this week. Unfortunately, this issues was occurring randomly during the event for some of the attendees and I can only confirm it during the event this week.

[2020-04-14 13:20] annegentle commented on #98
@kiskander Can you take a look at the dCloud Pod and see if the code/Ansible setup needs to change to avoid this error on Ansible's latest version?

[2020-04-20 13:03] klevenstein commented on #100
@juanda2 We've moved the Python 2 content to Appendices in the setup labs (see also https://github.com/CiscoDevNet/dev-setup-labs/pull/25). Hopefully that addresses your concerns.

[2020-04-21 11:14] ignaciofite opened #102 "Postman instructions are not clear"
In the following page: https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-auth/step/1
When try to get the token with Postman most of the event attendees try to copy and past Basic YWRtaW46R3JhcGV2aW5lMQ==, the instructions should specify that they need to use the authorization tab to input the credentials there,

[2020-04-21 11:16] ignaciofite opened #103 "Step https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-auth/step/2 has wrong import"
When attendees try to run the code in https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-auth/step/2, specifically the import:
`from dnac_config import DNAC, DNAC_PORT, DNAC_USER, DNAC_PASSWORD`
it usually fails because nowhere in the instructions says that they should run it in the same folder as `env_lab.py` this should be more clear on the instructions.

[2020-04-21 11:20] ignaciofite opened #104 "Instructions not clear enough in https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-path-trace/step/2"
When attendees try to do the following on Postman:
![image](https://user-images.githubusercontent.com/15130412/79860229-938bb980-83d2-11ea-9298-b787142c1140.png)
they sometimes fail because the instructions don't specify to put that in the body as raw, that might seem trivial but it is not for some people...

[2020-04-21 16:46] klevenstein commented on #102
Fixes submitted for review. @kiskander can you review?

[2020-04-21 16:46] klevenstein commented on #103
Fixes submitted for review. @kiskander can you review?

[2020-04-21 16:46] klevenstein commented on #104
Fixes submitted for review. @kiskander can you review?

[2020-04-21 22:49] annegentle commented on #100
I think this Issue can be closed since the concern has been addressed. Feel free to re-open if needed.

[2020-04-21 22:49] #100 closed, assigned to nobody

[2020-04-21 22:51] annegentle commented on #98
Pasting in the content of the zip file for review.

Shows the "invalid connection specified, expected connection=local, got network_cli"} message:

[code]

[2020-04-22 08:44] ignaciofite opened #105 "Mission in dnav4 is hard to follow"
While doing the [DNAc mission](https://github.com/CiscoDevNet/dnav3-code/blob/master/intro-dnac/06_mission/mission.py) yesterday in an event there were a bunch of issues.
- First of all the [solution](https://github.com/CiscoDevNet/dnav3-code/blob/solutions/intro-dnac/06_mission/mission_solution.py) doesn't work, it is broken or at least it was when I tried yesterday.
- Second, the use of recursiv

[2020-04-22 13:03] klevenstein commented on #104
Fix published: https://developer.cisco.com/learning/lab/dne-dnac-auth/step/2

[2020-04-22 13:03] #104 closed, assigned to klevenstein

[2020-04-22 13:03] klevenstein commented on #102
Fix published: https://developer.cisco.com/learning/lab/dne-dnac-auth/step/1

[2020-04-22 13:03] #102 closed, assigned to klevenstein

[2020-04-22 13:03] klevenstein commented on #103
Fix published: https://developer.cisco.com/learning/lab/dne-dnac-auth/step/2

[2020-04-22 13:03] #103 closed, assigned to klevenstein

[2020-04-22 21:13] klevenstein commented on #105
Code has been updated and pushed to production: https://github.com/CiscoDevNet/dnav3-code/pull/86

Webex teams integration may be added as an enhancement at a later date.

[2020-04-28 21:55] annegentle commented on #88
This is what the slide looks like now @vpralhad after the most recent update.

Some questions:
- Is northbound a term that should not be used on slides?
- Is Business apps and Network apps still inaccurate in the view you share about the BU delivery?
- Any other notes?

<img width="805" alt="Screen Shot 2020-04-28 at 4 53 07 PM" src="https://user-images.githubusercontent.com/501981/80541455-ca3477

[2020-04-30 16:51] annegentle commented on #87
I think what can happen is that when someone runs a DNA DNE, that code still uses SPARK_ACCESS_TOKEN, so if they also choose to put Meraki into their DNA curriculum, this conflict will occur. @RuthCattell Are SEs still allowed to include Meraki in the DNA DNE?

[2020-06-23 20:06] RuthCattell opened #106 "dnac_config.py doesn't exist"
An issue found by Presidio as follows:
"A bit of feedback, it looks like there is a mismatch between the lab directions and the code for the DNA Center labs. All the DNAC labs say to import your config with:
from dnac_config import DNAC, DNAC_PORT, DNAC_USER, DNAC_PASSWORD
but in reality dnac_config.py doesn’t exist, and instead the “Verify Your Lab Environment” lab has the students populating a d

[2020-07-02 11:10] marivalis123 opened #107 "Meraki Lab not well documented preventing attendees complete the lab"
https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav3-meraki/meraki-07-webhooks-dna/step/2
Lab describe following commands:
(venv)$ cd ~/code/meraki-code/meraki-webhooks
(venv)$ python webhookreceiver.py -s webbie

but the directory should be ~/code/dna-dne-code/intro-meraki.
Not described, but before running WebHook Server, we need to apply the command "pip install -r requirements

[2020-07-14 11:37] Nockternal commented on #107
Agreed the labs are not clear to follow with very little time to complete. and people are not responding to questions when things go wrong.
also each separate section is not being explained to referenced to external site where the documentation is.

[2020-09-11 19:09] klevenstein commented on #89
DNA track has been updated. Closing this issue for now.

[2020-09-11 19:09] #89 closed, assigned to klevenstein

[2020-09-11 19:09] klevenstein commented on #76
DNA DNE track has been updated; closing.

[2020-09-11 19:09] #76 closed

[2020-10-09 14:54] pheilmei opened #108 "DNEv4 Confusing screenshots in DNA Modul"
https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-auth/step/1
https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-network-device/step/2

In the module description following endpoint url is used: https://sandboxdnac2.cisco.com
In the screenshots the https://sandboxdnac.cisco.com is used this confuse the attendees
Please m

[2020-10-09 15:01] pheilmei opened #109 "DNEv4 10.10.22.74 ipaddress is not available"
https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-network-device/step/2

Attendees try to use the the managementIpAddress 10.10.22.74 in the screenshot, which  is not available on API Endpoint https://sandboxdnac2.cisco.com

Please suggest an available ip on the to used DNAC as API Endpoint, or use a description which allows a user to choose by self a IP add

[2020-10-09 15:07] pheilmei opened #110 "DNEv4 confusing query param description in DNAC Modul"
https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-network-device/step/2

If you do the steps as described in the Modul to add the managementIpAddress or macAddress in Postman, user ends with an misleading Endpoint API

Endpoint API generated by Postman as described in modul:
https://sandboxdnac2.cisco.com/api/v1/network-device?managementIpAddress=10.10.22.74

[2020-10-09 15:37] pheilmei opened #111 "DNAv4 DNAC Mission Todo1 command_runner ios_cmd not clear"
https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dnac-mission/step/1

Todo1:
ios_cmd = "" # TODO 1 Enter the IOS command for command runner API here!

Attendees are confused, which special IOS command should be entered here.
From the whole context, could be "show running-config", but "show ver | inc RELEASE" or "show ip int brief" are also working commands

[2020-11-18 16:29] bma-diy opened #112 "verify.py errors out and doesnt complete. Needs better error handling to explain what problem is"
Downloading from: git clone https://github.com/CiscoDevNet/dne-dna-code

/verify/verify.py script errors out for the 3 following reasons and needs much better error handling. We were conducting devnet express training remotely and spent way too much time troubleshooting why their verification was failing.

Here are errors you should check for:

1. env_lab.py file: check to make sure ENVIRONMENT_IN

[2020-11-24 13:50] klevenstein commented on #87
I'm guessing this refers to the SPARK_ACCESS_TOKEN line in
https://github.com/CiscoDevNet/dne-dna-code/blob/master/env_user.template

It sounds like this may not be an issue if Meraki isn't part of the DNA DNE anymore? Or does this issue come up in Meraki DNEs? @annegentle thoughts on who can clarify this?

[2020-11-25 21:08] kiskander commented on #106
I think it's safe to remove this instruction from the `Authentication` lab, this lab is also a Standalone lab part of Getting Started with DNAC module.

so we can remove

[code]

from the Lab in the DNE and we will be good

[2020-11-25 21:11] kiskander commented on #108
both sandboxes are used interchangeably depending on SB upgrade/availability  . we can either keep it as is or just put an Agnostic server like `{Your Instance of DNAC HERE}' in the screenshot

[2020-12-09 17:10] klevenstein commented on #90
Closing this issue for now; will reopen if the issue recurs.

[2020-12-09 17:10] #90 closed, assigned to klevenstein

[2020-12-09 21:32] annegentle commented on #90
@juanda2 We do appreciate you reporting it -- it's just that there also isn't a really good place to put this type of info on the Learning Lab system itself. Please do put it in the proctor's notes for DevNet Express.

[2020-12-10 15:59] vvaliapa commented on #35
Fixed. Here is the updated Lab: https://developer.cisco.com/learning/lab/dnav3-verify/step/6

[2020-12-10 15:59] #35 closed

[2020-12-14 20:22] klevenstein commented on #108
Touching all of the screenshots can be a fairly heavy undertaking. It may be easier to simply include a note to the effect that the student should use the Sandbox URL in the instructions, and the screenshots are provided for clarity.

[2020-12-14 20:24] klevenstein commented on #37
This issue is pretty old and has most likely been addressed in the updates to the DNAC DNE track. It's difficult to verify since the labs have changed significantly. Closing.

[2020-12-14 20:24] #37 closed

[2020-12-17 18:29] annegentle commented on #86
Sounds like they'll have to keep doing that until the entire pod and track are updated. Closing for now and we'll keep it for the revamp.

[2020-12-17 18:29] #86 closed, assigned to dethanga

[2021-01-13 11:24] vvaliapa commented on #109
Updated the screenshots and added a note about the device IPs in  https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-network-device/step/2.

[2021-01-13 11:24] #109 closed, assigned to vvaliapa

[2021-01-13 11:28] vvaliapa commented on #108
Updated the postman screenshots and added a note regarding the https://sandboxdnac2.cisco.com and https://sandboxdnac.cisco.com urls.

[2021-01-13 11:28] #108 closed, assigned to vvaliapa

[2021-01-13 11:28] vvaliapa commented on #110
Fixed the issue.

[2021-01-13 11:28] #110 closed, assigned to vvaliapa

[2021-01-15 14:42] annegentle commented on #101
Closing, since once the instructions are followed to the letter it works -- though it is good to know that `pip3` is not the installation on the dcloud instance, so thanks for testing!

[2021-01-15 14:42] #101 closed, assigned to vvaliapa

[2021-01-15 14:43] annegentle commented on #112
@kiskander Can you take a look and see if you want to incorporate this code?

[2021-01-15 14:45] annegentle commented on #93
@kiskander  This one likely gets fixed also by using the code in https://github.com/CiscoDevNet/devnet-express-dna-issues/issues/112 -- I'd say use the code in #112  and get a two-for-one.

[2021-01-15 14:45] #93 closed, assigned to vvaliapa

[2021-03-02 22:31] annegentle commented on #112
Thanks for this! Merged into the code base, so closing Issue.

[2021-03-02 22:31] #112 closed, assigned to kiskander, vvaliapa

[2021-04-08 15:29] AntoineOrsoni opened #113 "Rebooting a crashed Pod"
Could I have access to dCloud admin platform, so I can reboot an unreachable pod instead of replacing it?

[2021-04-08 16:25] klevenstein commented on #113
Hi @AntoineOrsoni - please contact dCloud support at dcloud-support@cisco.com. Thanks!

[2021-04-13 08:59] RuthCattell commented on #113
@klevenstein  - Antoine's question is more about 'is it possible to reboot an unreachable pod instead of replacing it?'  There's a way of doing this without having access to dCloud DevNet account I think.  I'll reach out to you separately about this so and then - if there is - we can provide instructions to trainers moving forward.    Thanks.

[2021-04-13 08:59] #113 closed, assigned to nobody

[2021-05-18 17:09] Geevarghese opened #114 "Login to Webex failed using cco account"
For DNA > DNE > Virtual > May 18-19 2021 event one customer complained that When he is trying to login using the Webex Teams authentication, he receives the following error message:
fail to get user from state: oauth2: cannot fetch token: 400 Bad Request
Response: {"error":"invalid_grant","error_description":"The provided access grant is invalid, expired, or revoked.","trackingID":"
Have asked to

[2021-06-15 10:25] dethanga commented on #114
Hi @annegentle and @klevenstein
cc @Geevarghese
As discussed with Gee, I understood that the user did not try logging in via browser. Or it might be any network issues the user was facing during the Virtual event. Also, it is observed we got this issue from one user.
That's said, there would not be an issue with the Teams specific. Hence I am closing this issue.

Thanks - Devi

[2021-06-15 10:25] #114 closed, assigned to dethanga

[2021-09-28 15:05] sthoneder opened #115 "intro-dnac/05_Template_Prg/dnac_utils.py uncomment line 38"
If line 38 is not uncommented, and the script is used as described in Devnet Express https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-template-prg/step/3 it will fail, as it can't load the env_lab.py from the root directory

sys.path.insert(0, project_root)

[2021-09-28 15:07] sthoneder opened #116 "Missing Sydney-Deployment Template Projects on sandboxdnac2.cisco.com"
The steps as described here: https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-template-prg/step/2 are not working, since there is no (as of the time of logging this issue) Sydney-Deployment Project with any templates on sandboxdnac2.cisco.com used for a devnetexpress as defined by env_lab.py
<img width="431" alt="Screenshot 2021-09-28 at 17 07 12" src="http

[2021-09-28 15:10] sthoneder opened #117 "No Postman Collection/Environment for PathTrace"
According to https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-path-trace/step/2 there should be at least environment variables in the postman collection/environments of DNE for the source/destination IP, this is not the case
<img width="1912" alt="Screenshot 2021-09-28 at 17 09 51" src="https://user-images.githubusercontent.com/91552526/135114761-fdb25bae-8

[2021-09-28 15:11] sthoneder opened #118 "No ASR part of sandboxdnac2.cisco.com"
There is no ASR router in the inventory as described here https://developer.cisco.com/learning/devnet-express/dnav4-track/dnav4-intro-dnac/dne-dnac-path-trace/step/5 on sandboxdnac2.cisco.com